[2018-09-20 16:01] kamilneczaj opened #6 "Jest conflicts"
I added your library to my project where I use Jest for testing, and since then I have the following error while running test in my project:
`TypeError: environment.teardown is not a function`
According to this an article at Stackoverflow [1] and my investigation the Jest version which is installed with `react-archer` conflicts with the version which is needed at my project. However `react-archer`

[2018-10-02 18:10] sharkattackhq opened #7 "Duplicate SVGs for programmatically added elements"
This library is proving very useful to me, so thanks for building it! I'm having a problem where the SVGs are being duplicated when new elements are added to the DOM. I'm using react-dnd to drag an element onto a target. When that happens, a new object is added to an array in state, and the DOM updates accordingly. But when this happens, the existing SVGs are duplicated, as well as a new SVG being

[2018-10-03 07:39] pierpo commented on #6
Thank you for your feedback. Sorry I didn't answer before, I didn't see your issue.
I'll have a look asap!

[2018-10-03 07:40] pierpo commented on #7
Thank you for your issue report! (and for your kind words!)
Can you provide me a minimal example or maybe a chunk of code? I need to reproduce the issue to be able to work on it 😊

Thanks 😉

[2018-10-12 11:59] pierpo commented on #6
[Should fix it](https://github.com/pierpo/react-archer/pull/8).

Sorry it took me so long. This is such a simple change!

[2018-10-31 11:51] yuriyhrytsyuk commented on #7
@sharkattackhq You can add key prop to <ArcherContainer> that will change after dragging new element to force a redraw.

[2018-11-01 06:45] geoff-va opened #9 "Arrow heads share the same color"
Hi There! Great library - it's become very useful!

I created two different containers so I could have two different colored arrows, however, it appears the arrow heads share the color of the first one defined. The `strokeColor` seems to properly control the the color of the line, but the arrow heads are the same color.

I did see that individually colored arrows are on the TODO list so I don't kn

[2018-11-01 11:00] pierpo commented on #9
Hi!

Thanks for your feedback 😊
Indeed it's something that should have been done a long time ago!

I'll try to work on it asap. This whole TODO has been here for too long 😄

Cheers!

[2018-11-01 11:00] pierpo commented on #6
Closing since I don't have any news. The fix should work.

Please tell me if it doesn't 😊

[2018-11-01 11:00] #6 closed

[2018-11-05 10:55] pierpo commented on #9
Just so you know, I first wanted to work on a big refactoring (I am adding Flow types for example). Once the refactoring is done, I'll start working on this 😊

[2018-11-05 21:58] geoff-va commented on #9
Cool - thanks for letting me know! Appreciate it!

[2018-11-07 18:03] #9 closed

[2018-11-07 20:35] pierpo commented on #9
@geoff-va `0.2.3` should solve it 😊

[2018-11-09 09:17] jakobdamjensen opened #13 "Can't require 0.2.3"
Thanks for making this repo. I wanted to try it out but ran into an issue using 0.2.3.

For some reason, I can't require version 0.2.3. I've checked the diffs and I can't figure out what happened since 0.2.2 that would have broken it.

Error: Cannot find module 'react-archer'
    at Function.Module._resolveFilename (module.js:513:15)
    at Function.Module._load (module.js:463:25)
    at Module.re

[2018-11-09 09:39] jakobdamjensen commented on #13
OK so it seems like the `lib` folder is gone but it is still referenced as

in `package.json`

[2018-11-09 11:05] pierpo commented on #13
Oops. So sorry about that 😨
I'll fix it in 0.3.0 that I'll release tomorrow.

Thanks for your feedback!

[2018-11-09 19:44] geoff-va commented on #13
Not sure if related to the current issue, I'm unable to import `react-archer` in 0.2.3. It appears it's looking for it in the current directory:

[code]

[2018-11-10 10:19] pierpo commented on #13
@geoff-va Yes, has to be related 😅

I just released 0.3.0, you can try again!

[2018-11-12 08:44] jakobdamjensen commented on #13
Yeah it seems to work now! Thanks

[2018-11-12 08:44] #13 closed

[2018-11-12 08:55] pierpo commented on #13
Cool! Enjoy 😊

[2018-11-14 14:21] hadrienk commented on #7
@yuriyhrytsyuk @sharkattackhq yes, that fixed it for me as well.

Great component!

[2018-11-19 20:25] robinvenneman opened #15 "Collapsing div around the elements"
Tested this library inside a container with draggable elements and it seems that the `ArcherContainer` element adds a div with the ref `storeParent` around the child elements, right after the SVG. Because this collapses its height up to the position of the lowest element it's not really useful for this use case, I fixed it by adding the same styles as the `svgContainerStyle`, notably 100% height &

[2018-11-22 16:01] robinvenneman opened #17 "Unregister elements"
To unregister transitions when an ArcherElement unmounts, it should delete all the svg's with both `to` and `from` this element. So this would be `unregisterAllTransitions` on the context.

And also, the ref to the element is still there in the container state so the ArcherElement should also have `unregisterChild` and also call this on unmount.

What are your thoughts about this @pierpo ? I can s

[2018-11-22 20:52] pierpo commented on #17
Sure, totally makes sense. A PR would be welcome of course 😊
Thanks for your contributions it's really great to have your help! 🤗

I'll check the PRs out when I'll have more time next week!

[2018-11-24 22:20] robinvenneman opened #19 "Updating relations prop"
I noticed that updating the `relations` prop doesn't actually trigger any updates in `componentWillReceiveProps` in the `ArcherElement` component because of the `relationsWithStringifiedLabels` equality check that uses the `label` on the relations... so not sure how exactly that should be fixed right now, I suppose it should just check if there is any relation added or removed and then run the app

[2018-11-25 22:49] robinvenneman opened #20 "Clickable / selectable arrows"
So I would like to request a feature, making the SVG arrows clickable (and selectable), for which I have already been trying to add some code but I seem to have some trouble to get it working.

Some required adjustments include:
- a custom prop `cursor` which can be `pointer` like in CSS (can also be set on the SVG element, preferably `<g>`)
- another prop `pointerEvents` on the `<g>` element, set

[2018-12-01 15:04] pierpo commented on #17
@robinvenneman Thanks for your work, PR is merged!

I'll publish this ASAP 😊

[2018-12-01 15:16] #17 closed

[2018-12-01 15:33] pierpo commented on #7
Should be fixed with the new release, thanks everyone! 😊

[2018-12-01 15:33] #7 closed

[2018-12-03 12:54] AlisonWonderlandApps commented on #7
could you share how you achieved using these libraries together @pierpo @sharkattackhq @yuriyhrytsyuk ?? Having some trouble with integrating them :(

Some example code (where the render method is from the DropTarget and the BoxDemo is the DragSource

`    render() {
      return this.props.connectDropTarget(
        <div style={styles.container}>
          <ArcherContainer strokeColor="#6ebdc2">

[2018-12-03 19:15] pierpo commented on #7
@AlisonWonderlandApps Thanks for the kind words 😉

I don't have the whole thing in your code, for example the state is missing so I can't know what's wrong.

Did you have a look at the two examples I put? I just deployed them on the Github page: https://pierpo.github.io/react-archer/
The code is under `example/` in this repo!

[2018-12-03 23:01] AlisonWonderlandApps commented on #7
Hey @pierpo thanks for getting back to me... I can get the arrows to work per your example. But When I am trying to use the same with react-dnd, the arrows do not seem to draw for me

What state were you interested in ?
The relations prop is in the following form:

[code]

[2018-12-04 03:18] AlisonWonderlandApps commented on #7
ok nevermind! I have it somewhat working now! Thanyou for this great library @pierpo and if anyone runs into similar issues as i mentioned.. feel free to ping me :)

[2018-12-04 10:20] jrfferreira opened #23 "Random marker id is hard to test"
With version 0.3.0, the marker elements use a random key as id/key, but it became hard to test using snapshots. Does anyone have an approach to test it?

https://github.com/pierpo/react-archer/blob/5eb6b3a792b20b48a1acc3e5740cae6413eb9440/src/ArcherContainer.js#L287-L288

https://github.com/pierpo/react-archer/blob/5eb6b3a792b20b48a1acc3e5740cae6413eb9440/src/ArcherContainer.js#L105-L109

[2018-12-04 12:13] AlisonWonderlandApps commented on #15
I'm also facing a similar issue. Also, not sure if anyone has ever dockerised their app and tried to deplo it but the arrows go very strange

[2018-12-04 12:42] pierpo commented on #23
Ah, indeed. Sorry, I did not think about this issue!

I should find another solution to get unique ids for each arrow.

Any suggestion welcome 😊

[2018-12-04 12:43] pierpo commented on #15
Sorry I didn't have a look at this issue.
I'm not sure I understand the problem, can you give a simple example? (small implem + screenshot)

[2018-12-04 13:31] robinvenneman commented on #15
Yeah I fixed that locally for this use case I had but seemed like I broke something else in the default example so will revisit and see if I can open a PR.

[2018-12-05 00:43] AlisonWonderlandApps commented on #19
@robinvenneman & @pierpo  I'm having this same issue... did you have a workaround on forcing the arrows to re-render once they get a new relation? (code snippet would be great!)
My issue is that I have several different graphs to display in different tabs, but the arrows only render correctly for the FIRST display.
I also cannot manually draw arrows between 2 nodes by adding a new relation to the

[2018-12-05 00:44] AlisonWonderlandApps opened #24 "Minified bundle used for production causes arrows not to display as pretty curves"
Minified bundle used for production causes arrows not to display as pretty curves

These arrows look great when in dev mode. But once I build a prod (using npm build) to go to production, the arrows lose their curve and therefore look straight & warped :(

[2018-12-05 08:36] robinvenneman commented on #19
@AlisonWonderlandApps Yeah I've fixed dynamically adding / removing elements and adding or removing relations by updating the props... I will open a PR soon, just haven't completely figured out that `relationsWithStringifiedLabels` check yet.

[2018-12-05 08:41] pierpo commented on #24
Oh, oops.
I'll have a look.

If you want me to go faster, you may provide a minimal example 😊

[2018-12-05 08:42] pierpo commented on #19
Thanks @robinvenneman for handling this.
I'll have to dive into this and think this through as well. Sorry about all these issues 😄

As always, your PR is very welcome 😊

[2018-12-05 10:03] pierpo commented on #7
@AlisonWonderlandApps Oh, glad you hear you found a solution.
Sorry I was not fast enough to help you 😉

And thanks for the kind words 😄

[2018-12-05 20:23] pierpo commented on #19
So indeed there is a mistake in the `relationsWithStringifiedLabels`, it only compares labels right now (which was not intended).

But even fixing it raises another issue: when you change a relation from one arrow to point to another element, the previous relation is not removed.

I have a solution for this, I'll try to implement it asap!

[2018-12-05 22:13] pierpo commented on #19
This PR https://github.com/pierpo/react-archer/pull/25 should solve it 😊

[2018-12-05 22:21] pierpo commented on #19
Fix published, tell me if you still have issues 😉

[2018-12-05 22:21] #19 closed

[2018-12-06 07:40] AlisonWonderlandApps commented on #24
@pierpo thankyou!! I will get one together

[2018-12-06 12:06] AlisonWonderlandApps commented on #19
awesome! Will check it out! Thanks both!

[2018-12-07 16:52] robinvenneman commented on #19
Great job @pierpo thanks! A bit different from my solution but it works perfectly.

[2018-12-07 16:55] robinvenneman commented on #23
Hmm @jrfferreira shouldn't you mock the `react-archer` dependency if you are unit testing another piece of code that implements this? If you are talking about testing `react-archer` itself then it can probably use a fixed value for the random generated it, e.g. by mocking `Math.random()` itself...

[2018-12-07 21:14] robinvenneman commented on #15
![screenshot 2018-12-07 at 22 08 26](https://user-images.githubusercontent.com/1286347/49672823-a8311100-fa6c-11e8-959c-de0bfc4ab4c3.png)

So this screenshot shows the default example with 2 background colors, one for the main `div` returning from `ArcherContainer` and another from the `div` that contains the children that are passed to it. I can set a `style` prop with width & height but can't re

[2018-12-07 22:31] robinvenneman commented on #15
Easiest way to fix this is https://github.com/pierpo/react-archer/pull/26

I also tried with a `React.Fragment` but since it has a ref `storeParent` that is used to calculate the coordinates and such it should probably stay, unless the top-level `div` could be used instead but I haven't tried that.

[2018-12-12 09:54] jfo84 opened #28 "How to upstream some features"
Hey @pierpo - Nice work on the project. We want to use it, but I think we'll need a couple things.

The first is a way to pass a list of ids (array, string format, etc.) for `to` relations to paint multiple arrows from one DOM element. Also, we'll need to use an initialize script similar to `react-dates` for adding event listeners to `window` so that we can use this with a universal rendering setu

[2018-12-12 11:16] jfo84 commented on #28
Looks like the `window` issue is related to the UMD bundle:

https://github.com/webpack/webpack/issues/6522

[2018-12-13 18:10] #15 closed

[2018-12-14 19:17] zgec commented on #24
Experiencing exactly the same issue here...
I am using Next.js 7.0.2 (and its associated build script)

I should mention, the render happens on client not on server.

I'll have a closer look tomorrow as well... Thank you so much for this utility btw, its really great (other than this bug) :smile:

[2018-12-15 11:16] zgec commented on #24
I managed to fix this by cloning the repo @ master and building the lib/react-archer.js file on my own (and then including that one to my codebase instead of the package import).

After finding that this works, I decided to prettify & diff the two files (one that comes from npm and the one I built myself):

[code]

So, it seems to me that these are actually changes from recent (merged) commits tha

[2018-12-16 10:19] pierpo commented on #24
@zgec Yes indeed! This fix was done in this PR https://github.com/pierpo/react-archer/pull/29, and I did not publish.

Will do right now!

Very nice job at debugging it, thank you very much 😊

[2018-12-17 16:42] jfo84 opened #31 "ArcherElement relations as a leaky abstraction"
In re-writing some of the internals, I discovered that the `relations` attribute is a leaky abstraction, in that it can house any relations whatsoever; they don't have to be related to the ArcherElement in which they are passed.

So, I added an array API for the `to` aspect of the relation without realizing `relations` can draw an arrow from any node to any other node.

One step farther is removin

[2018-12-18 13:36] #28 closed

[2018-12-23 15:43] #31 closed

[2019-01-02 13:22] matiishyn opened #33 "multiple arrows, different colors"
here's my expected result
![image](https://user-images.githubusercontent.com/3661065/50593695-13220c00-0ea2-11e9-9d90-70dba0a64391.png)
Trying to use this module to draw arrows
But cannot find a way to have different arrows with different colors (Black and Red in my case)
Is it possible?

[2019-01-02 14:13] pierpo commented on #33
@matiishyn Hi! Yes it is 😊
The documentation was not up to date.

You can add a `style` key to each relation.

[code]

[2019-01-02 14:14] #33 closed

[2019-01-04 14:04] jrfferreira commented on #23
Hi @robinvenneman, just for clarification, I'm using snapshots (with enzyme) to guarantee that the result of the implementation (SVG) will always be the same.

[2019-01-04 15:13] pierpo commented on #23
Hi @jrfferreira!
I guess @robinvenneman's answer still makes sense. You can mock `Math.random()` in your snapshot tests so that it always returns the same value (or a value that is incremented at each function call so that arrow markers don't get a duplicate id).

Still, I'll try to come up with a better internal solution. Having random ids like that is not ideal.

[2019-01-07 11:07] edkotkas opened #34 "Removing all elements in Example 2, removes everything in the page"
Opened the example page, went on the example 2 tab. Started removing the elements, when just the root element is left it will allow it to be removed and this will cause the following error and the page goes blank..

![image](https://user-images.githubusercontent.com/9152439/50764804-cd7f8d80-126b-11e9-9274-1afb735a8a09.png)

[2019-01-07 13:37] pierpo commented on #34
Woops, indeed. It's only the example that is wrong. Nothing critical then 😊

I'll fix it. Thanks for reporting it 😉

[2019-01-09 23:19] AlisonWonderlandApps commented on #24
Thankyou @pierpo !! I'm really impressed by your dedication to this library and your responsiveness to issues as well! Great job! 👍 🥇

[2019-01-10 08:45] pierpo commented on #24
@AlisonWonderlandApps Thanks for the kind words 😊
Actually I did not fix this issue myself, @jfo84 did 😉

[2019-01-11 21:58] geoff-va commented on #24
I am actually still running into this issue - the arrows work fine in dev mode and then once minified with `npm run build`, the anchors aren't on the correct sides. Everything seems to be offset and one arrow is actually pointing in the wrong direction now (back in on itself):

**Production**
![production](https://user-images.githubusercontent.com/11033703/51061594-a77a2600-15a8-11e9-828f-30b0de96

[2019-01-14 11:19] jfo84 commented on #24
Hey @geoff-va, I can take a look at this but I don't have any immediate guesses. Seems very odd at first glance

[2019-01-16 15:02] jfo84 commented on #24
We generate different `path` elements in prod vs. dev. I haven't been able to reproduce with our example-generating code, but here are two SVGs from an internal build

Dev

`<path d="M129.515625,120 C129.515625,0 129.515625,254.375 129.515625,254.375" marker-end="url(http://localhost:3000/builder/5beede0ab36ff0000c5cf7cf#arrow4311765736827995038b1fcc1c624c569fdf206eb351a20bbcbdd4bfae584e0394dafbb6

[2019-01-18 14:43] jfo84 commented on #24
Long story short @geoff-va, I believe that this is an evil Terser function inlining bug. The code in SvgArrow was getting optimized to pass 0 to most of the arguments in `computeStartingAnchorPosition`. This is easily the craziest bug I've ever encountered.

Issue in Terser:
https://github.com/terser-js/terser/issues/244

[2019-01-18 17:12] geoff-va commented on #24
@jfo84 - Amazing detective work man! This does sound like what I was seeing. I remember seeing C0 instead of like C600 for some of the curve descriptions. I really appreciate you digging into this man! Kudos to you!

[2019-01-27 00:14] AlisonWonderlandApps commented on #24
@jfo84 I'm using create-react-app, and packaging with docker.  I continue to have this issue in prod... not sure how I would go about implementing a workaround here

[2019-01-27 08:12] jfo84 commented on #24
@AlisonWonderlandApps Are you on v1.0.2? If that doesn't fix it, then you'll have to eject your Webpack config and manually apply the minimizer change above

[2019-02-08 07:48] dcwills opened #38 "Sometimes the arrowheads do not display"
I'm finding that arrowheads do not always display. the line is there, it just stops short. is this a known issue?

[2019-02-08 08:35] pierpo commented on #38
Hi!

Well, it might be related to this https://github.com/pierpo/react-archer/issues/24
But I am not sure.

I would really appreciate if you could provide a piece of code to reliably reproduce it 😊

[2019-02-08 17:48] dcwills commented on #38
I figured out the problem. It appears that things go awry by certain characters (space, unicode) in the id string, such as:
[code]
I tried to fix my code by switching to `targetId: encodeURI("hello world")`, but surprisingly enough, that didn't work.

[2019-02-08 17:55] dcwills commented on #38
This fixes the problem in my code:
[code]

[2019-03-06 07:04] AlisonWonderlandApps commented on #24
For anyone interested, I used [react-app-rewired](https://github.com/timarney/react-app-rewired) to override this problem without ejecting my app:
`npm install react-app-rewired --save-dev`
Then in package.json file change the scripts object to:
`  "scripts": {
    "start": "react-app-rewired start",
    "build": "react-app-rewired build",
    "test": "react-app-rewired test --env=jsdom",
    "eje

[2019-03-08 10:12] pierpo opened #39 "Customize the end of the arrows"
I've seen people needing something else than an arrow at the extremity.

Would be nice to be able to customize the extremities to have a dot instead of a triangle, for example.

[2019-04-05 17:27] InstantProgramming opened #42 "Component render arrows first but not update then"
Hello,
First, thanks for the package it fit great with the import CSV system I'm trying to code (in the part where the users have to "link" them web table columns with the CSV's).
Here is how i used the package:
        -From the parent View, I'm mapping companyFields from states and columnsRelation from props:
![issueParentView](https://user-images.githubusercontent.com/188211/55645229-51e49c80-5

[2019-04-07 17:42] pierpo commented on #42
Hi!
Glad to hear that you like the library :blush:

Can you show me the values of the `relations` props that you give before the improper update and after the improper update?

I want to see the changing values because there is custom logic in the library for that.

Since it's quite hard for me to debug only with questions, I'd recommend to clone the `react-archer` repo in your project and use the

[2019-04-07 19:46] InstantProgramming commented on #42
![issueReduxChanges](https://user-images.githubusercontent.com/188211/55688734-56e25100-597c-11e9-9c4f-4742627a7696.PNG)
![issueReduxStates](https://user-images.githubusercontent.com/188211/55688735-59dd4180-597c-11e9-8365-67de5313f581.PNG)

Here are screens of the change and the relations Props given to the component.
Ok thanks for the advice i will check that this week

[2019-04-08 07:57] pierpo commented on #42
Strange, it should be fine...

I'll try to reproduce when I'll have some time.

[2019-04-17 21:31] InstantProgramming commented on #42
![issueGIF2](https://user-images.githubusercontent.com/188211/56322209-b6a0df00-6168-11e9-8e65-636d5d7bdd0e.gif)
Very Strange ... When i change it manually from react Debugger it looks like updating correctly but when the same thing is done from the onClick with props and redux it does nothing

[2019-04-17 22:44] InstantProgramming commented on #42
My Bad, I was making a bad clone of the Relations and that caused the prevProps to be the same as this.props , insted of doing :
let newColumnsRelations = Array.from(columnsRelations);
I did now :
let newColumnsRelations = JSON.parse(JSON.stringify(columnsRelations));
and all works good now !
I close the issue 💯

[2019-04-17 22:45] #42 closed

[2019-04-18 22:28] pierpo commented on #42
Fantastic, glad that you could find the issue 😊

[2019-04-23 23:02] Rambatino opened #44 "TypeScript compliant Ref handling for animating the movement of arrows"
In trying to achieve animation of arrows on div scrolling, I ran into a couple of issues. I achieved this:

![PYPHnYu5DH](https://user-images.githubusercontent.com/3631109/56621219-d1e77f00-667f-11e9-87fc-dc634ca9fc57.gif)

But through some scullduggery.

I extended the ArcherContainerProps interface to contain:

[code]

So that I could grab the reference to the archer container and also forceUpda

[2019-04-24 08:36] pierpo commented on #44
Hi! Thank you for the issue.
I'll have a look at this in the coming days 😊

I'm not sure I understand it all, though. Is it only a TS definition problem or is the scrolling mechanism also an issue?

Could you give me the ideal code you would like to write to achieve this?

In any case, feel free to have a look at the [TS definitions](https://github.com/pierpo/react-archer/blob/master/types/react-a

[2019-04-26 07:20] Rambatino commented on #44
@pierpo thanks for the quick reply!

It's more of a "how best do I go about doing this" issue. I feel like I've just hacked some code around - forceUpdate() I think is generally discouraged in react.

Also the ref issue is surprising as I would have assumed that ref would have been inherited from the react base component. But maybe not, but I'm no expert in react

I can get a simple demo in a coup

[2019-04-26 07:43] pierpo commented on #44
Indeed, I see what you mean 🤔
I'll think this through in the coming days. Maybe the `update` method would be a good option indeed.

Ideally this kind of updates should be handled by the library itself. I would appreciate the simple demo example so that I could experiment on the library's side 😊

[2019-05-02 07:42] sanuradhag opened #45 "Arrows overlap the other elements."
Is there a way to avoid the arrows from overlapping other elements.
![Screen Shot 2019-05-02 at 1 08 19 PM](https://user-images.githubusercontent.com/24251976/57061810-f1178980-6cdb-11e9-9827-e311c2b580fb.png)

I want to draw arrows arround the elements without overlapping other elements.

[2019-05-02 08:05] pierpo commented on #45
Hello!

Do your elements have a background color? Because the arrows are supposed to be in a div behind your layout so it should already be the case 🤔
Unless there's a bug 😉

Can you confirm that these elements have a background color?

[2019-05-02 08:07] sanuradhag commented on #45
Yes elements do have a background color.

[2019-05-02 11:30] pierpo commented on #45
Well if you put the SVG in front it's normal that they're over all the elements 🤔

So in the end you would expect arrows to be on top of some elements but behind others...?

[2019-05-02 11:45] sanuradhag commented on #45
Yes. I want the arrows to be around the elements if the are going over the elements.

[2019-05-02 12:36] pierpo commented on #45
Unfortunately this is not possible with the method that is used to draw the arrows. You can have a look at how the library works and think of a solution but nothing comes to my mind.

My recommendation, based on your problem:

- remove the `z-index` that you added and keep the white `background-color`
- try to have less overlap. For example, the arrow should go from top of element 1 to bottom of e

[2019-05-02 16:32] pierpo commented on #45
I'm closing the issue since there's no simple solution on the library's side.

Feel free to tell me if you can think of a simple feature that would help solving your problem.

[2019-05-02 16:32] #45 closed

[2019-05-02 16:37] pierpo commented on #24
Thank you so much @jfo84 for investigating successfully this hard problem!
Thank you @AlisonWonderlandApps for proposing a working solution, I'm sure it'll help a lot of people.

Closing this since it's not an issue related to `react-archer`.

[2019-05-02 16:37] #24 closed

[2019-05-02 16:42] #34 closed

[2019-05-03 06:51] sanuradhag commented on #45
I woul like to implement this feature in your library. I'll create a pull request once I finish the feature.

[2019-05-05 19:11] danielr18 opened #47 "Differences on calculated SVG path on dev/production"
First of all, great library, thank you for the work @pierpo. I'm getting a weird error which reason I can't figure out. The elements are connected perfectly with the arrows during development, but when I build the app or the storybook where the component is used, the path is not the same, they seem to take a very long path instead of the shortest one.

### Development:
![image](https://user-images

[2019-05-05 20:42] pierpo commented on #47
Hi! Thank you for the kind words :blush:
It's very likely to be related to this issue https://github.com/pierpo/react-archer/issues/24. Can you investigate it? The minification done by terser (used by webpack) is buggy and produces non equivalent code...

[2019-05-05 20:53] danielr18 commented on #47
It must be that issue, closing this one as it's a duplicate. Thanks!

[2019-05-05 20:53] #47 closed

[2019-05-06 07:42] pierpo commented on #47
Well, not 100% sure 😉 Your problem is not exactly the same so the cause could have been different.
Keep me updated, I hope you'll manage to fix it!

[2019-05-17 09:19] jrfferreira commented on #47
I also have the same issue, and I'm still looking for a solution. Unfortunately, solutions on issue #24 do not help in my case.

[2019-05-17 09:21] pierpo commented on #47
Sorry that you also have an issue...
Would you happen to have a minimal reproducing example that you could share? I'd love to help but I'm completely in the blind for now.

[2019-05-22 12:44] jfo84 commented on #47
@jrfferreira Could you elaborate? There's an equivalent setup with Uglify to disable function inlining if that's the issue. The feature is essentially useless with modern JavaScript engines

[2019-07-07 10:10] hashwin opened #50 "Labels are not clickable when there are many paths present"
When there are > 4 paths, labels get stuck under the path on the right and become unclickable.

Code sandbox with reproduction:
https://codesandbox.io/s/magical-hypatia-hgyoc?fontsize=14

This is copied from example #2 with added click events.
As you can see, the label "3 hello" is unclickable.

[2019-07-08 21:30] pierpo commented on #50
Indeed, I see what you mean (but the example is wrong, I guess there's a mistake in the link 😉)

I don't know how to solve this yet... 🤔
It looks like the latest path in the DOM is shadowing the foreign objects of the other paths.

(everything underneath the selected path on the screen-shot is not reachable by clicks
![image](https://user-images.githubusercontent.com/6313316/60843931-47bbab00-a1d8

[2019-07-10 09:32] hashwin opened #52 "Any way to allow right angled arrows rather than curved ones?"
I would like to achieve something like this:

![Blank](https://user-images.githubusercontent.com/406115/60958276-b6f1e600-a323-11e9-8ed4-76884436cf92.png)

Any way this is possible using archer?

[2019-07-10 09:46] pierpo commented on #52
Hey @hashwin!

Not yet, unfortunately 😊 It's in the TODO but I've never done it.

`Options to customize the path shape more (straight line, right angle line, smoothed right angle path)`

PR welcomed 😉

[2019-08-04 08:37] #50 closed

[2019-08-08 17:18] SevereOverfl0w opened #53 "Add z-index to svg"
this would make it possible to ensure it's above the elements it is drawing arrows between.

[2019-08-08 17:33] SevereOverfl0w commented on #53
When I did this, I also had to use `pointer-events: none;` in order to have pointer events (e.g. mouseover) pass straight through to my components.

[2019-08-09 19:40] pierpo commented on #53
Hey! Can you provide more details? Do you want a props to set the z-index?

[2019-08-09 20:15] SevereOverfl0w commented on #53
I'm not sure, I found that I needed to apply styles to the svg, but there wasn't a way to style it.

[2019-08-26 18:04] quellen opened #57 "react-archer arrow wrong scale after zoom change and window resize"
Thank you for this arrow library it has been useful but I am struggling to figure out a scaling issue.

I am using react-easy-panzoom as a wrapper component around react-archer elements to be able to pan and zoom around a large flow chart. I have had similar results with different pan-zoom libraries.

At PanZoom zoom level of "1" (no zoom) I can click->drag and pan around the chart and resize the

[2019-08-27 14:47] pierpo commented on #57
Hi!

Thank you for the very detailed and reproducible issue 😊
I'll have a look at this when I have some time but I am quite busy these days 😞

Feel free to dive in the library's code and have a look too if you want to go faster.

My guesses: when you zoom in and out without changing the window size, react-archer does not re-render because nothing changes.

However, when you resize the window, the

[2019-08-31 17:07] pierpo commented on #57
Glad that you have a workaround! I need to think this through and see if there's something cleaner, there must be 🤔
I might have done something wrong with the core of the library itself.

[2019-09-06 10:21] lishine commented on #24
Next.js 9
This worked for me:
[code]

[2019-09-17 20:49] Spirarel opened #59 "[Feature request] strokeStyle => dotted and dashed arrows"
# Add ability to make lines dotted or dashed

I'm not sure how challenging this would be with your svg implementation, but it would be  a welcome addition!

[2019-09-18 07:49] pierpo commented on #59
Indeed that's a good suggestion 😊
I need to look this up.

PR is welcomed, I'm not spending too much time on this project, unfortunately!

[2019-09-18 16:01] Spirarel commented on #59
Looks like you're calling `path` to do the styling?
https://github.com/pierpo/react-archer/blob/8709513aa27ffa6043de2c29181fe2dc551abdf0/src/SvgArrow.js#L166-L170

I'm not sure it supports stroke styling. [SVG strokes do, however.](https://www.w3schools.com/graphics/svg_stroking.asp) Maybe there's something to glean from that implementation.

[2019-09-20 07:40] pierpo commented on #59
@Spirarel Yes indeed, I think adding `strokeDasharray` as a prop would just do the job 😊

[2019-10-03 09:38] wirelessed commented on #52
Upvote for this feature - I have a complicated diagram and straight lines would definitely help!

[2019-10-06 20:22] #59 closed

[2019-10-06 20:48] pierpo commented on #59
I just released it with 1.2.0 :blush:

[2019-10-06 20:55] Spirarel commented on #59
Hey, nice job! I'll try this tomorrow!

[2019-10-07 15:42] Spirarel commented on #59
Working great! Thanks for adding this feature! Stars to you! =)

[2019-10-07 16:28] pierpo commented on #59
Thank you for the relevant feature request 😊

[2019-10-07 22:36] pierpo commented on #52
I just deployed `v1.3.0`. You may try it now :blush:

https://github.com/pierpo/react-archer/pull/65

[2019-10-07 22:36] #52 closed

[2019-10-09 06:45] wirelessed commented on #52
Hi! Thanks for the change! It works fine - however, is it possible for the lines to be direct diagonals from one point to another, instead of being L-shaped currently?

[2019-10-09 07:46] pierpo commented on #52
Hi!

It's a good idea. It's not possible for now though, it is a different feature 😉
I'll create a new issue for that.

No ETA yet!

Thanks!

[2019-10-09 07:47] pierpo opened #66 "Allow straight lines for arrows"

[2019-10-16 15:02] mrsauravsahu commented on #38
Experiencing the same issue, even the examples do not render arrowheads.
However, can't reproduce the error in v1.1.2.
Tried checking the diff but couldn't notice anything obvious.

[2019-10-17 09:34] pierpo commented on #38
It's weird that it happens on the examples... 🤔
What browser do you use?

[2019-10-17 11:46] mrsauravsahu commented on #38
Usually firefox, but tried on both Firefox and Chrome.

[2019-10-17 22:09] dimapx commented on #44
Hi @pierpo, I've just started out with react-archer and have a use case where I have multiple divs in a scrollable container pointing at a static div (which in turn would point to multiple other divs). While scrolling each of the two containers, the arrows remain static. I was wondering whether I was missing something, or is there a proper way to force the re-render of the arrows while scrolling?

[2019-10-17 22:29] pierpo commented on #44
Hi @dimapx!

I just had a look and made it work. You can use the `refreshScreen` instance method of the `ArcherContainer` component :blush:

Add `<ArcherContainer ref={containerRef => { this.containerRef = containerRef }} />`.
Then add an `onScroll` props to your scrolling divs, and in the callback function you may call `this.containerRef.refreshScreen()`!

`<div onScroll={() => this.containerRef.

[2019-10-17 22:31] pierpo commented on #44
I hadn't realized this before but wouldn't this solve your issue as well @Rambatino?

[2019-10-17 23:56] hellochar opened #69 "Not drawing to Target"
Nice library. I'm trying to get an arrow to connect the tops of two adjacent elements:

[code]
But it seems to misunderstand where "top" is on the target:

![image](https://user-images.githubusercontent.com/1079495/67055487-2898b780-f0fd-11e9-8191-5691eb291ccc.png)

I'd like for the line to come out the top and curve back down into the top of the target. Weirdly it works if I actually put the elem

[2019-10-18 19:15] dimapx commented on #44
@pierpo Thanks, works like a charm!
Really appreciate the quick response 💯

[2019-10-23 12:02] dimapx opened #70 "Webpack minification causes "Super expression must either be null or a function" error in prod"
Hey @pierpo,

We've deployed to our staging environment code that uses react-archer for the first time and are experiencing the following (breaking) error:

[code]

(the error is not present while working locally)

After extensive investigation, we were able to narrow down the issue to webpack minification, i.e. the error no longer appears (and the web app runs properly) when we add `minimize: fal

[2019-10-23 12:18] jfo84 commented on #70
Hey @dimapx, I ran into the same issue when I worked on this library some time ago. Some part of a solution can be found in #24.

If you feel like debugging Uglify/Terser and why ECMAScript JS does not spit out JS with the same spec, then go for it. However, the libraries are in fact very poor architecturally, the bundle size gains are minimal, and the community is hostile. Optimizing function cal

[2019-10-24 18:37] pierpo commented on #70
@jfo84 Thank you for answering the issue!

What if we got rid of the `switch` statements of the project. That would cirumvent the issue, right?

[2019-10-24 18:40] pierpo commented on #69
Hi @hellochar!

Thank you for reporting this. I had not anticipated this kind of layout when I implemented the position computation algorithm.

I need to think this through. No ETA yet, sorry :grimacing:

[2019-11-08 09:55] junaid33 opened #71 "Not working properly with Gatsby.js"
Hey, I'm trying to use react-archer on a Gatsby site. Locally, it is working perfectly. When I deploy it, the arrows don't know show and our svg traced images don't finish loading either.

Example:
<img width="1395" alt="Screen Shot 2019-11-08 at 4 53 46 AM" src="https://user-images.githubusercontent.com/34615258/68467206-cb67c180-01e3-11ea-9afa-529dd3a0e2f4.png">

What could be the cause? It some

[2019-11-25 22:09] Rambatino commented on #44
@pierpo seems to!

Thanks!!

[2019-11-25 22:09] #44 closed

[2019-12-07 12:45] sho-87 opened #72 "Anchor location: middle"
Possible to add a new anchor location, which is directly to the middle of the source/target element?

Would it be as simple as adding an additional case to the switch in `ArcherContainer.js L55` (https://github.com/pierpo/react-archer/blob/master/src/ArcherContainer.js#L55)...

Something like `return rectToPoint(rect).add(new Point(rect.width / 2, rect.height / 2))`?

[2019-12-07 19:26] pierpo commented on #72
Hey! Makes perfect sense indeed :blush:

Would you like to do a PR? I could do it but it might take longer since I'm a little busy these times :wink:

[2019-12-07 19:26] pierpo commented on #71
Hey! Sorry I never answered.

Do you have a reproducible example? Thanks :blush:

[2019-12-07 19:27] pierpo commented on #71
The fact that it's only in prod mode makes me think that it's related to this: https://github.com/pierpo/react-archer/issues/24

[2019-12-08 11:34] #72 closed

[2019-12-17 03:09] twigs67 opened #74 "Adding svg background overlays?"
Hello,

Is it currently possible to add svg background overlays?

Thanks

[2020-01-07 11:35] sauravgarg540 opened #76 "Arrow position is ambiguous"
Here is a sandbox link to replicate the issue.
https://codesandbox.io/s/musing-beaver-bzk9y

As I have understood after reading the documentation the placement of the arrows is ambiguous and I think it is a bug.
On changing the targetId: "element4" again places arrow wrongly.

Thanks

[2020-01-07 12:59] pierpo commented on #76
Hey, thanks for the issue!

I don't see anything unexpected. It looks bad indeed, but it's not related to `react-archer`.

If you inspect the element using the dev tools, you'll notice that the arrow really goes to the middle of the top part of the element:

<img width="508" alt="Capture d’écran 2020-01-07 à 13 56 51" src="https://user-images.githubusercontent.com/6313316/71897069-be207200-3155-

[2020-01-07 13:39] sauravgarg540 commented on #76
Thank you for the fast reply. One more thing when I am not bale to connect Element3 bottom to Element4 bottom.

![Screenshot from 2020-01-07 14-38-51](https://user-images.githubusercontent.com/17601899/71899198-7dc3f280-315b-11ea-85ef-71a551dce7fa.png)

[2020-01-07 19:03] pierpo commented on #76
@sauravgarg540 Related to #69 indeed! Unfortunately it requires big changes, so I won't fix this before a while :cry:

Closing this issue since your original problem was expected behaviour.

[2020-01-07 19:03] #76 closed

[2020-01-07 19:07] pierpo commented on #74
Hi @twigs67! Thanks for the issue.

What do you mean by background overlays? Do you have an example?
Can't you add `background-color` to the container?

Thanks!

[2020-01-10 01:03] jamesdbrock opened #77 "Feature request: reverse arrow style"
Thanks for this library @pierpo , it's very nice.

The way element relations work, all relations to a source element must be known at the time the source element is rendered. Sometimes it would be programmatically convenient to express all relations to a target element instead of a source element. We could accomplish this by adding a single flag to the arrow style that indicates that instead of be

[2020-01-21 14:23] gpurgal commented on #24
Solution proposed by @AlisonWonderlandApps works  but it completely removes `TerserPlugin`.

@lishine's solution works with react-app-rewired and disables only `inline`compress option in `TerserPlugin`:

[code]

[2020-01-31 19:38] maayanalbert opened #78 "stroke opacity?"
Thanks for the awesome package @pierpo! Is there any way we can set the opacity of an `ArcherElement`? I know that strokes have a `stroke-opacity` css property but adding that to an `ArcherElement`'s `style` doesn't seem to do anything.

[2020-02-01 08:33] maayanalbert commented on #78
Figured it out, I just ended up using `rgba(0, 0, 0, .5)` for the `strokeColor` property.

[2020-02-01 08:33] #78 closed

[2020-02-02 17:25] pierpo commented on #78
Cool! Glad you figured a solution. :blush:
Thanks for the issue.

[2020-02-05 15:55] mikaello opened #79 "Customize the start of the arrow"
Related to #39. It would be great if it where possible to customize the beginning/start/origin of the arrow. E.g. it could be added a circle at the beginning to mark the attachment of the arrow at some object:
![circle in the beginning](https://user-images.githubusercontent.com/2505178/73858224-533b8700-4838-11ea-888e-2502bcafda96.png)

[2020-02-13 08:57] pierpo commented on #79
It would make perfect sense indeed!
PRs are welcome, otherwise I'll have a look when I find the time 😉

Thanks for the suggestion!

[2020-02-22 16:15] wongjiahau opened #80 "How to not render arrow heads?"

[2020-02-23 06:58] wongjiahau commented on #80
I found the solution: set `arrowThickness` to 0.

[2020-02-23 06:58] #80 closed

[2020-02-24 10:51] pierpo commented on #80
Thank you. I will document this!

[2020-02-25 13:11] ilyaburmaka opened #81 "Issue with remove elements in ArcherContainer"
Hey, if remove an element from the start of array I have this issue. If I remove from the end of the array - I don't have this problem. Maybe whoever has an idea of how to fix it
I use version 1.5
React 16.8
[code]
![image](https://user-images.githubusercontent.com/37481432/75250409-fbfa5800-57e0-11ea-9995-484b3f9aca1b.png)

[2020-02-26 07:55] ilyaburmaka commented on #81
Video or code example?

[2020-02-26 09:12] pierpo commented on #81
Code example 😉

[2020-02-26 09:18] ilyaburmaka commented on #81
I found an issue in my code. Problem with keys in the map () when I use the index as key - I have this bug if I used id of element for a key - I don't have a bug.
Here you can view example [https://codesandbox.io/embed/bold-golick-35x64?fontsize=14&hidenavigation=1&theme=dark](url)

Good Luck!

[2020-02-26 09:19] #81 closed

[2020-02-26 13:25] pierpo commented on #81
Cool, glad that you worked it out 😉

[2020-03-12 15:12] tsnolan23 commented on #57
Any update on this by chance? I'm having the exact same issue:

- I attempted the workaround described above, but didn't have any luck with it
- As an alternative, I called the `refreshScreen` method whenever the zoom level changed in attempt to mimic the window re-sizing, but no luck there either

Going to continue to dig into the calculation in the meantime and see if I can figure anything out!

[2020-03-12 23:25] pierpo commented on #57
Hi @tsnolan23 !

I had a quick look but couldn't manage to identify the issue. I had not prioritized since there was a workaround.

I don't have much time to investigate unfortunately :disappointed:

Does it happen only on Chrome or on all browsers?

[2020-03-12 23:26] pierpo commented on #77
It makes sense indeed. I'll have a look when I find some time!
Thank you for the suggestion :hugs:

(sorry I took so long to answer, I guess I missed the notification!)

[2020-03-17 15:02] tsnolan23 commented on #57
@pierpo Seems to be all browsers - tested in Chrome, Firefox and Safari

[2020-03-31 01:32] Eliav2 opened #83 "Not drawing to Target when position style is "absolute""
see here(the official example with a little change): https://codesandbox.io/s/react-archer-uses-wlqxv
position: absolute not working well, and there is no option to offset arrow anchors by given property.
any help?

[2020-03-31 08:10] pierpo commented on #83
Hi! Why did you close your issue? Did you solve your problem?

[2020-03-31 10:54] Eliav2 commented on #83
yes friend - I understand that I suppose to make the position of the ArecherElement absolute and not the contained div - and this will do the trick i needed, thanks!

[2020-03-31 20:51] Eliav2 commented on #83
sorry friend but i need to reopen the issue because the position: absolute does not work on ArcherElemnets as it works on div (or any other regular element).
ArcherElemnets are taking space when the position property is set to absolute and this is not correct - do you know how can i fix it?
see demonstrations: https://codesandbox.io/s/react-archer-uses-wlqxv

[2020-04-01 00:23] mitchellwarr opened #84 "Failed to execute 'unobserve' on 'ResizeObserver': parameter 1 is not of type 'Element'"
Every now and then the ArcherContainer fails to unobserve properly. This is happening maybe every third time I render my component

[2020-04-01 00:34] mitchellwarr commented on #53
Im having the same problem. But just moving the svg to be drawn after the container content was enough to put the arrows on top

[2020-04-01 00:41] mitchellwarr commented on #53
https://github.com/pierpo/react-archer/pull/85

[2020-04-01 00:50] mitchellwarr opened #86 "Does not rerender on arrow's element position change"
If the elements within the container ever change position, the arrows do not seem to change their position to match

[2020-04-01 16:00] Eliav2 commented on #86
+1
It seems that the element does not update their position unless  the "relation" is changes.

otherwise it will update only on second render.
see example here:
https://wu9zh.csb.app/
i've writed here my default anchoring and its seems that the position is updating only of the relation list is changing(from "left" to "top" or whatever).

i believe that the problem is found [here](https://github.c

[2020-04-09 16:26] ronandowlingcullen commented on #38
I had the same issue when using brackets "(" in my id, try removing/replacing the brackets (or other special characters). Slashes seem to work for me.

[2020-04-11 19:40] boomgetchopped opened #87 "Lines don't draw when scrolling horizontally"
The library draws lines just fine for on screen parts of the container.

But when I scroll horizontally, I see that nothing is drawn in the area of the screen that was offscreen.

[2020-04-12 18:17] Eliav2 commented on #86
because no one updates this repo and the code is not written well I've decided to create new from scratch.
see here: https://github.com/Eliav2/react-xarrows
react-xarrows will rerender whenever needed - and its just working - I've well tested it under any normal circumstances.

[2020-04-12 23:49] pierpo commented on #86
Hello!
Thank you for the reproducing example, but I can't manage to understand the problem. What does not re-render exactly? In what scenario?
Thanks :blush:

[2020-04-12 23:50] pierpo commented on #87
Hello!
Did you solve your problem? Is there an issue with the library or was it a mis-use?
Thanks :wink:

[2020-04-12 23:54] pierpo commented on #38
I guess we should add an encoding in the id's then.

I guess I could add `return encodeURI(str).replace(/%/g,'_');` as suggested above but it doesn't feel completely robust (because 'abc%123' would become 'abc_123'... which is not really obvious for the end user).
One way that I see could be to do this, but it feels kinda hacky: `return encodeURI(str).replace(/_/g,'__').replace(/%/g,'_');`

[2020-04-12 23:55] pierpo commented on #84
Thank you for the issue. I'll have a look!
An example would be appreciated :blush:

[2020-04-13 00:01] mitchellwarr commented on #86
In my example I had a table list of data. A column of text on the left, and graphs on the second column. You could click a row and expand it so that underneath sub data rows would populate giving more context to the graphs.

In order to visually make the sub rows connect to the expanded row, I used react-archer arrows to do a sort of
[code]

But when you expand out the sub rows it pushes the table

[2020-04-13 00:05] mitchellwarr commented on #84
Sorry I cant provide an example for you. Ive since shifted the code away from using this repo and as such have lost the code i used.

What I do know is the code I was using had a lost of useEffects and resizeObservers through it. It is likely do to asynchronous mounting and unmounting issues. Id suggest just making sure promise based code checks to make sure components are actually still mounted b

[2020-04-13 00:07] pierpo commented on #84
Good point, there might be some issues there.
I'll try to reproduce the problem by myself then.

I have a quickfix in mind but I have no way to make sure that it solves the problem yet!

Thank you for the quick answer :wink:

[2020-04-13 00:10] pierpo commented on #86
Okay, can you tell me how you hide the elements? Do you unmount them? Do you hide them with CSS only?

[2020-04-13 00:24] mitchellwarr commented on #86
I actually insert a row after row-index-x and then fill it with another table recursion style 😉
So mount and unmount.

As for tracking position changes of the relation targets: i think its a bit much to expect of this library as that's a hard thing to do, and your typical use case wont benefit from it. However, just adding a resizeObserver to the wrapping container div so that when it resizes the

[2020-04-13 19:32] boomgetchopped commented on #87
Hi great library.  I was able to fix the issue by manually resizing the svg component that your library creates to match the @scrollwidth value.  By doing that the horizontal scroll works fine.

That might not be the correct solution, but it works for my cases.

Sent from my iPhone

[2020-04-14 08:13] pierpo commented on #87
Glad to hear that you solved it.

Did you know that there's a non documented "refreshScreen" instance method? You can get it on the ref of the container. You can attach additional listeners to this method if you have troubles with re-rendering.

I should document this.

[2020-04-14 09:30] pierpo commented on #83
Thank you for the example @Eliav2 that is really helpful.
What is the problem though?

I see only two problems:

- "middle" anchor is ugly (known issue)
- dragging does not refresh properly. I don't think I can solve this in general, so I think you need to re-trigger the refresh yourself with `ref.refreshScreen`. This lacks documentation and should be added.

[2020-04-19 12:40] emidiotorre opened #89 "End of the arrow pointing in the wrong direction"
Hi, first of all, thanks for this beautiful and simple library!
I'm working on a tool to visualize relationships in text, I would like to display arrows alongside the text, the text can be disposed vertically or horizontally.

in the vertical scenario what I'm getting now is this
![react-archer-bug](https://user-images.githubusercontent.com/10254639/79687983-3c0f1180-824b-11ea-83d9-0919777747b2.pn

[2020-04-19 17:34] pierpo commented on #89
Hello!
Thank you for the kind words :blush:

If I remember correctly, putting "arrowLength" to 0 makes it possible.
(I just realized this props was poorly named, it should be "arrowHeadLength").

About the bug itself, I'll have a quick look!

[2020-04-19 17:38] pierpo commented on #89
Oops, actually setting `arrowLength` to 0 does not hide the arrow.

[2020-04-19 18:12] pierpo commented on #89
I just opened a PR to allow the `arrowLength: 0` in order to hide the arrow heads.

However, about your bigger issue... The task is not as simple, there have to be core changes in order to make this work.

When I designed the library in the first place I only had in mind "left to right" scenarios, I had not thought about "left to left" like yours.

If I'm correct, the problem lies here https://git

[2020-04-19 18:31] #87 closed

[2020-04-19 18:31] #84 closed

[2020-04-19 18:33] pierpo commented on #89
(by the way, this issue is the same problem: https://github.com/pierpo/react-archer/issues/69)

[2020-04-20 15:34] dooleyb1 commented on #83
Hi @pierpo, thank you for the library. Really useful stuff. I'm having a similar use case for `refreshScreen` and am looking for how to use this method to force the re-render of the arrow components? Thanks 😄

[2020-04-20 16:20] pierpo commented on #83
Hey @dooleyb1! Thank you for the kind words I really appreciate 😄

So, I added some documentation on the README about this yesterday. Can you tell me if it is enough?
If not, I can assist you more and add more documentation 😊

[2020-04-20 16:36] pierpo commented on #86
Thank you for the relevant comment. I'll close this issue then 😊

[2020-04-20 16:36] #86 closed

[2020-04-20 16:37] dooleyb1 commented on #83
That does help thank you, I can see the arrows are now being redrawn however it turns out my issue is not directly related to this. I will open a new issue now and you can take a look if you like!

[2020-04-20 16:39] #89 closed

[2020-04-20 16:52] dooleyb1 opened #92 "Arrows Not Re-Rendering Correctly on Transform"
Hi there,

First of all thanks to @pierpo for the great library, everything has been extremely easy to integrate and use and has been super useful so far.

The issue I am having at the moment is when trying to programatically control the zoom of my `ArcherContainer` using a `transform(zoom)` CSS method the arrows are not being re-rendered correctly. Everything else within the container scales as d

[2020-04-20 16:52] dooleyb1 commented on #83
This is here - https://github.com/pierpo/react-archer/issues/92

[2020-04-23 15:52] pierpo commented on #92
Hi @dooleyb1 !

Many thanks for the reproducible example! This is super helpful 😊

This might be a duplicate of https://github.com/pierpo/react-archer/issues/57

I'll keep this issue open and look into your example individually.
I have no clue why it doesn't work for now...

Can't give you an ETA for the solution, sorry about that 😞

[2020-04-24 22:32] RSchneider94 opened #93 "Problem using CSS grid"
Hello all!

I'm just starting to work with this library and really excited about it! I'm testing it right now and I'm trying to make it work with a Grid CSS Layout. Unfortunately I'm having some trouble here. I uploaded my project at Code Sandbox: https://codesandbox.io/s/4tx93

If you open the screen outside of editor or resizes it, you gonna see what I'm talking about, the arrows seems to be com

[2020-04-25 00:22] pierpo commented on #93
Hey! Thank you for the issue and thank you for the example, this is super helpful!

Your analysis seems correct. I'll try to have a look :blush:

[2020-04-25 10:49] pierpo commented on #93
Good news, I solved your main issue with the arrows pointing to the improper element :blush:
Thank you for the example that allowed me to investigate efficiently!

I'll release a new version that contains the fix.

Can you give it a try?

[2020-04-25 11:00] pierpo commented on #53
@mitchellwarr I encountered your issue and actually adding `z-index: -1` to the SVG container solves the issue, whereas moving the elements as you did doesn't.

Can you give me an example?

[2020-04-25 11:01] pierpo commented on #53
@SevereOverfl0w @mitchellwarr BTW you can use the (yet) undocumented `svgContainerStyle` to add a `-1` z-index.

[code]

[2020-04-25 11:02] pierpo commented on #93
About your overlapping problem, you can use the (yet) undocumentend `svgContainerStyle` on the `ArcherContainer` to put a -1 z-index :blush:

This solves your issue:

[code]

[2020-04-25 11:06] #93 closed

[2020-04-25 11:57] RSchneider94 commented on #93
hey @pierpo thanks for being so fast! Just updated the package and seems to be working, yes!! But, using your tip with the svgContainerStyle doesn't do the work, unfortunately (see screenshot). The effect I wish is like the documentation examples, where the arrows stop before the elements itself. May I'm doing something wrong?

https://imgur.com/a/N4XQ1WC

Thanks again!

[2020-04-25 12:10] pierpo commented on #93
Hi @RSchneider94 !
Sorry I thought you wanted achieve something like this:

![Uploading Screenshot from 2020-04-25 14-07-59.png…]()

In that case you need the zIndex and you need to add a white background color to your elements.

But if I understand correctly, that's what you actually want:

![Screenshot from 2020-04-25 14-09-14](https://user-images.githubusercontent.com/6313316/80279498-61de5f80-

[2020-04-25 12:22] #53 closed

[2020-04-26 10:58] RSchneider94 commented on #93
@pierpo of course, what a dumb question from my side. Of course!! I need to change the start and end. Sorry and thanks for replying! But also thanks for explaining the idea with overlap, in case I really wish to use center. Thanks again for all and have a nice weekend! :smile:

[2020-04-26 11:24] pierpo commented on #93
Haha my pleasure :blush: have a nice weekend!

[2020-04-28 08:17] dcubeVasu opened #95 "apply multiple target ID's"
Give the provision to link multiple nodes from single node

[2020-04-28 08:26] pierpo commented on #95
Hello,

Could you please elaborate and maybe sketch what you request?

From my understanding it is already possible since `relations` is an array, so from one node you can link to multiple others.

[2020-04-28 11:47] pierpo commented on #74
Hey @twigs67 !

Can you answer my questions above so that I can see how I can improve the lib?

Thanks 😉

[2020-05-06 22:24] cole-robertson opened #96 "Removing an archer element from DOM causes crash"
I am working on a tree view structure. When I remove one of the nodes from my tree (wrapped in an archer element) I get the error: `Uncaught TypeError: Failed to execute 'unobserve' on 'ResizeObserver': parameter 1 is not of type 'Element'.` from React Archer.

I'm not sure if you have seen this issue before, but removing the archer container and archer elements from my project works as expected.

[2020-05-07 00:03] pierpo commented on #96
Hello!

Are you seeing this on the latest version? I published a fix recently, but I might have missed something.

Thanks :blush:

[2020-05-07 03:13] cole-robertson commented on #96
Thank you! Yes the update seemed to fix that problem, however I can only see the fix by removing the <svg>s absolute positioning from the dom. I am now unable to click on any of my ArcherElement forms in my ArcherContainer without removing that svg positioning. Is there something I need to do to get them back on "top"?

[2020-05-07 03:22] cole-robertson commented on #96
I used to also have my grid styling (column row) on the ArcherElement itself. It seems that this updated also broke that. It may be related to the unclickable elements that I am having too. To fix the positioning issue, I can wrap the ArcherElements in a div with my grid styles, but I still cannot click.

[2020-05-07 07:57] pierpo commented on #96
Interesting!
I did break something with 2.0.0: I used to add an additional div inside `ArcherElement`, which I stopped doing. It might break your layout indeed! If you want to keep the same layout as before, you may add the additional div yourself:

`<ArcherElement><div>Hello</div></ArcherElement>` -> `<ArcherElement><div><div>Hello</div></div></ArcherElement>`

About the unclickable element... I

[2020-05-07 08:00] pierpo commented on #96
I updated the release note to make it more explicit. Thank you.

[2020-05-07 13:34] cole-robertson commented on #96
Ah that makes sense! I was not able to reproduce in the issue in a CodeSandbox, but I was able to fix it in my project by adding a div with position relative directly under the ArcherContainer.
`<ArcherContainer>
   <div style={{position: relative}}>
   ...
   </div>
 </ArcherContainer>
`

Also could you link me to the release notes?

[2020-05-07 15:16] pierpo commented on #96
Sure, here it is: https://github.com/pierpo/react-archer/releases/tag/v2.0.0

Thank you for pointing out this issue, I had not realized this release would break existing layouts. I thought it would only break for usages with multiple children to ArcherElement.

[2020-05-09 18:33] rishitells opened #97 "Is it possible to put a form element (say Input) inside ArcherElement?"
Firstly, thanks a lot for such a useful library! This is of really great help :)

Coming to my requirement, I was building a flowchart/concept-map kind of thing and need some of the nodes to be editable. I tried to put `<input>` inside `<ArcherElement>`, but it didn't work because of the SVG overlay. I tried putting `<input>` inside `<foreignObject>`, but it didn't help either.

Is there any way t

[2020-05-09 21:03] pierpo commented on #97
Hello :blush:
Thank you for the kind words!

It has to be possible :thinking:
I'll have a look!

[2020-05-09 21:09] pierpo commented on #97
So, here's what I found:

- it works out of the box for me if I put it in the `label` props of a relation
- it does not work immediately if I put it in an ArcherElement indeed. However, it does work if I disable the pointer-events from the SVG container.

[code]

It's not 100% satisfying because you might need the pointer events on the SVG container. I need to think this through, I'm not 100% clea

[2020-05-09 21:17] pierpo commented on #97
Btw, this is related to https://github.com/pierpo/react-archer/pull/85

[2020-05-10 04:45] rishitells commented on #97
Hey, thanks a lot man! This solution just works perfectly for my use case! 😊

[2020-05-10 04:45] #97 closed

[2020-05-10 10:34] pierpo commented on #97
Cool, glad to hear it :blush:
The PR https://github.com/pierpo/react-archer/pull/85 should help in making this clearer (needs some rework to not change the defaults though).

[2020-05-11 13:48] pierpo commented on #96
The unclickable element was very likely linked to this https://github.com/pierpo/react-archer/issues/97

Thank you for reporting an issue!

[2020-05-11 13:48] #96 closed

[2020-05-14 10:29] gurkerl83 opened #99 "Typescript migration - refactor and bug fixes"
In the last few days, I've spent a little time trying to make my application compatible with the latest changes in react archer. I've noticed a few things that could be made better and easier. I took the components as they are in the latest version of react-archer and integrated them directly into my project. For more information, see the following ticket or pull request in my application.

Issue

[2020-05-14 11:48] pierpo commented on #99
Hello,

Thank you so much for this! Looks like I messed some things up with 2.0. I'll have a deep read of your issue and I'll try to fix it ASAP!

[2020-05-14 11:49] pierpo commented on #99
And for sure I am interested in a PR or other comments on things you might have improved :blush:

[2020-05-14 12:33] pierpo commented on #99
Okay, I carefully read everything! Your work will be really precious, I love how you detailed everything, thank you for that.

So, with my last breaking commit, I missed the React Components as children case. Which leaves a huge issue :grimacing: (quite angry at myself for that).

The problem we have with components is that they don't have a ref, since they potentially don't represent a single ele

[2020-05-14 14:53] gurkerl83 commented on #99
Hi thanks for the interest in the changes I made. This is just the first version for your questions. I answer the more pressing questions in a follow up writing.

See example below. Important lines are highlighted with (***). This is a standard component, which accepts an existing reference with Reacts forward reference API. It receives the ref but it is not assigned (even with clone), so the deve

[2020-05-14 15:11] gurkerl83 commented on #99
With this question, you mean basically example TwoChildComponentWorksPartially?

Components can only render two divs on the 0-level when Reacts fragment component gets used. When you do it in typescript, you at least get the following message JSX expressions must have one parent element. Nevertheless, using a fragment, the developer has to decide which div to track.

[2020-05-14 15:35] pierpo commented on #99
Thank you for your answer! Everything seems very clear but this point: if I understand correctly, the dev-user would need to wrap his components with `forwardRef` so that he can specify what child node is the drawing reference.

Is that correct?

[2020-05-14 15:37] AncientSwordRage opened #100 "My ArcherElements are defined in another component, so I am getting "Could not find "unregisterChild" in the context of <ArcherElement>""
I have a component that looks a little something like:

[code]

And then `ContainsArcherElement` is similar to:

[code]

But I'm getting the full `Could not find "unregisterChild" in the context of <ArcherElement>. Wrap the component in a <ArcherContainer>.` but it should be wrapped, just not immediately.

Is there a way around this, and is it a bug or a feature?

[2020-05-14 15:42] gurkerl83 commented on #99
The wrapping into forwardRef is only necessary so that the parent (here archer-element can pass a reference into the functional or class component). When the reference (placeholder because it is empty and filled on assignment to the target node) received, the developer decides which node the reference gets assigned within the component.

***Note***
The examples provided are functional components,

[2020-05-14 16:11] pierpo commented on #99
Haha unfortunately, still not 100%.
Can you provide me short examples of the targeted API we'd achieve with your changes?

With the suggested changes, would this work? Would this need a forwardRef?

Thank you, sorry for having a hard time understanding :wink:

[code]

[2020-05-14 16:16] pierpo commented on #100
Hello!

I was not aware of this problem. Definitely a bug!

I don't have a good knowledge of the React Context, I don't know how it behaves in such cases.
I think it should be working properly with direct children (otherwise there'd be another issue I guess), but here my guess is that the callback-style rendering function might raise an issue.

I won't look into it in the short term because there'

[2020-05-14 16:22] gurkerl83 commented on #99
Sure no problem! Of course this is a component and requires a wrapping.

// TS version

[code]
// JS version

[code]

[2020-05-14 16:48] jfo84 commented on #100
@AncientSwordRage Context is not passed through into your `render` component, and React has no smart way to make that possible. The container could expose the context and you could manually pass it, but I don't think that *just* works off the top of my head.

[2020-05-14 17:13] pierpo commented on #99
Alright, now it is almost crystal clear :blush:

I do have one last doubt: I'm not sure I understand what your changes are on the refs because if I use `forwardRef` with the current implementation, then the problem is solved.

Are you sure you're not confusing the old way of creating refs (through a callback as I did) with the new way (through hooks or createRef, like you did)?

___

As written ab

[2020-05-14 17:13] pierpo commented on #99
About this:

You answered your question yourself: right now there is a problem/bug in the current implementation :wink:
Let's keep the "bug" label to know what we're referring to and so that people can see it. If you want you can open another issue where we'll talk about your improvements of the lib :blush:

[2020-05-14 17:27] gurkerl83 commented on #99
Not sure which way to go. One thing is for sure, having different config options, most certainly confuses people using the library in the first place. Using forwardRef for components is the only way React supports; there are no options about that.

A small thing to note about the comment from above: You can only use createRef in class-based components; it is no hook. UseRef (hook) is the equivalen

[2020-05-15 01:14] AncientSwordRage commented on #100
I had a quick look at the source and it seems as though the context is exported and reimported. I'll need to double check but I don't see why that would impact this use case?

[2020-05-15 10:09] pierpo commented on #100
Where is it exported/reimported?
It is indeed exported but only for the tests of the library.

@jfo84 is right, the only way I can think of is indeed exposing the context, but I have no idea how it would work out.

This:

[code]

should become... this?

[code]

so that you can do

[code]

I think this would work :thinking:

But I'm not sure what the impact of the change above would have on ArcherC

[2020-05-15 10:19] AncientSwordRage commented on #100
Exported here https://github.com/pierpo/react-archer/blob/master/src/ArcherContainer.js#L81

Imported here https://github.com/pierpo/react-archer/blob/master/src/ArcherElement.js#L6

I will give the ref passing a go, and see if I can make that work.

[2020-05-16 15:20] jfo84 commented on #100
@AncientSwordRage The importing/exporting is correct. This is going to sound obnoxious but I did talk to Dan Abramov about this API design before hooks came out, and I was exporting the context consumer like this in all the examples I gave.

@pierpo The `withContainerContext` API looks good. You can just export that itself as part of the public API, so you don't have to pass refs. This is all vali

[2020-05-16 15:25] jfo84 commented on #100
You could also be clever with a child function API for the container. You typecheck and if the child is a function, you pass the context as an arg. Would be very clean but maybe a bit over the top. Your solution is simple and works.

[2020-05-16 17:09] pierpo commented on #100
Thank you for the answers @jfo84. This is super helpful :blush:

What do you mean I can export that as part of the public API?
Since it has to be an instance method of the ArcherContainer (it references other methods and properties), it can't be accessed but by the ref, right? :thinking:

What do you mean by "child function API for the container"? What would the API look like for @AncientSwordRage

[2020-05-16 17:29] jfo84 commented on #100
@pierpo It essentially functions as a singleton, right? I am not sure why you would want multiple containers, although it could make sense in some use cases.

This is why Redux uses the `createStore` pattern. This opens up the API by giving you the tools to essentially create a context, just like this. But do we really want this kind of complexity? Let's just make it a singleton and it's all much

[2020-05-16 17:36] jfo84 commented on #100
To be clear, the context is currently implemented as a singleton. The context is created on initialization of the component file, not during component invocation.

[2020-05-16 19:08] jfo84 commented on #100
@pierpo Something like this would work

[code]

[2020-05-18 07:40] gurkerl83 commented on #100
The following ticket mentions a refactored version of react-archer, and changes got made do to the current context initialization approach.

https://github.com/pierpo/react-archer/issues/99

In the current version context, init gets made when ArcherContainer starts. I made the following change.

ArcherContainer does context init, both for tracked refs and transitions.

[code]

A new component was

[2020-05-18 09:23] jfo84 commented on #100
@gurkerl83 Hey - I have a lot of thoughts here so I'll try to run through them all.

The first thing is that it's a huge piece of work, and IMO it would have to be split up into different pieces. I have not paid much attention to the project recently, and even still I noticed the break and made my [opinions](https://github.com/pierpo/react-archer/pull/94#issuecomment-619371989) clear about the v2.

[2020-05-18 10:37] gurkerl83 commented on #100
@jfo84 It is an internal rewrite, with a few changes here and there, but with no additional features added.

It was a result based on the breaking changes introduced, which was not working using custom components for archer element children.

The authors are sorry that changes like the use of Children.only were built-in, but that was not a breaking change at all, the reasons are different when rea

[2020-05-18 11:00] jfo84 commented on #100
@gurkerl83 Don't talk down to me. If you actually knew what you were talking about, then you would know that React Redux is not built with context. I know that because Mark asked me to add [my input](https://github.com/reduxjs/react-redux/pull/1000) on the v6.0 release, where they moved from subscriptions to context. That was a disaster, as it added back the old zombie children issues with legacy

[2020-05-18 11:24] AncientSwordRage commented on #100
Regardless of any confusion, on anyone's part. I feel like using functional components and hooks would potentially simplify things. (I will openly admit that I am biased, in that the majority of work I've done with React is with functional classes, and I am no a fan of typescript).

I'm not convinced a rewrite is needed to fix _this_ bug, so it might be more productive to move this conversation ou

[2020-05-18 11:30] jfo84 commented on #100
@AncientSwordRage Sorry, but I can only be so nice sometimes. When someone tells you that you're confused and an idiot, and then goes on to reference a pull request that you contributed to as evidence, I'm going to tell them off. Engineers and their egos know no bounds.

The feature has to be added, but I can look into it later today.

[2020-05-22 19:44] cole-robertson opened #102 "Stepped Lines"
There is a use case I have where I would like the lines drawn stepped.
Currently:
![image](https://user-images.githubusercontent.com/31285501/82703752-1ace8600-9c3a-11ea-855a-39b655a10fc8.png)

I would like it to be like:
![image](https://user-images.githubusercontent.com/31285501/82704130-8a447580-9c3a-11ea-9c50-eb4a9daa7ae9.png)

I currently have:
[code]
and:
[code]
Is there anything I can do cu

[2020-05-25 08:47] pierpo commented on #102
Hey 😊

Unfortunately it is not possible right now, but I'd love to have the option to customize the paths more.
No ETA yet because it might be quite complex!

To solve your issue, you could fork the project (or use patch-package) and edit the following :
https://github.com/pierpo/react-archer/blob/f1c316f23759865a3fd98fcb27532781f7c2b282/src/SvgArrow.js#L157

You'll be able to do a custom path tha

[2020-05-31 16:26] RajeevSebastian opened #103 "Can we use refs with archer elements"
My application requires me to draw arrows from the source to the target step by step like generating a graph one step at a time. I thought of using refs on the archer element component and changing the relations attribute on the fly. But when I use Ref for the archer element it ends up being null.
I can get the ref to the archer container. and there is a sourcetoTargetMap in the state property. Ca

[2020-05-31 16:28] RajeevSebastian commented on #103
![image](https://user-images.githubusercontent.com/54682134/83357426-0e74b800-a321-11ea-85b3-63e0bb3eece2.png)

[2020-05-31 17:16] pierpo commented on #103
Hello, can you give a visual example of what you want? It can be hand-drawn, whatever. That'll help in assisting you :blush:
Thanks!

[2020-05-31 17:29] RajeevSebastian commented on #103
Sure
![waitforgraph](https://user-images.githubusercontent.com/54682134/83358606-98288380-a329-11ea-9a90-5c6463eac1b8.png)

[2020-05-31 17:30] RajeevSebastian commented on #103
In each step, I want to draw an arrow as shown.
Each <td> is an archer element
Hope this helps :)

[2020-05-31 18:48] pierpo commented on #103
Thanks! That's way clearer :wink:

I don't think you need any refs for that. This looks like a classic usage of `react-archer`, nothing exotic :wink:

Your whole table should be wrapped with `ArcherContainer`. Then each cell should be wrapped with `ArcherElement`. Each of these elements should then handle their relations to one-another by referencing their ids.

But I don't see why you'd need refs

[2020-05-31 19:07] RajeevSebastian commented on #103
Yeah sure. Bear in mind the table is created based on user input.
this is the table body
`let tablebody = schedule.map((element, index) => {
      const columns = [];
      for (var i = 1; i <= numTransactions; i++) {
        if (i == element.transaction) {
          schedule[index].ref = React.createRef();
          const column = (
            <ArcherElement
              id={
                el

[2020-05-31 19:20] pierpo commented on #103
Thanks :wink:

I'm still not 100% clear on this.

Why don't you add the `relations` props to your ArcherElement? What information are you missing?

I mean something like this:

[code]

[2020-05-31 19:22] pierpo commented on #103
Since you said you're not very familiar and you said this:

Allow me to say that you might want to use the internal state of your React Component to store your info
https://reactjs.org/docs/state-and-lifecycle.html

Does that help?

[2020-05-31 19:23] RajeevSebastian commented on #103
Sorry I did not mention this before. I am trying to make it interactive. So the user clicks a button and the next arrow is created. Won't your code generate all the  arrows in one go ?

[2020-05-31 19:25] pierpo commented on #103
In that case you should have something like this. Replace `this.state.transactions[123]` with the logic that is relevant to know whether your transaction exists.

[code]

[2020-05-31 19:27] pierpo commented on #103
I'm sorry it's quite hard to help because this is very tied to the logic you want to implement :wink:
But I am pretty sure you don't need refs and you should use your component's state.

[2020-05-31 19:29] RajeevSebastian commented on #103
Hey no problem I agree that it is hard to look into the issue without having the code.
So correct me If I am wrong but essentially what you are suggesting is re-render the entire table component each time the button is clicked to generate the next arrow right?
Once again thank you for your prompt replies :)

[2020-05-31 19:33] pierpo commented on #103
Yes indeed, changing the state will re-render everything in your component!
But unless you have a big table, that shouldn't be a performance issue.
If it is an issue, then you'll have to tinker things to re-render only the stuff you need (cut down in more components, do some optimizations to not re-render them... there are many things that can be done).

But it will still look like what I'm sugges

[2020-05-31 19:50] RajeevSebastian commented on #103
Yeah, re-rendering will work fine in my case. So if I were to work on a large table how would I optimize it.
If you can just point me to some resources online it would be of immense help :) just for future use-cases.

[2020-05-31 20:54] #103 closed

[2020-06-01 09:48] pierpo commented on #103
What kind of resources are you looking for? React in general?
I think the official documentation is really good for that purpose :blush:

[2020-06-01 14:50] RajeevSebastian commented on #103
Hey Pierre.
I did follow the procedure to re-render the table component.
If I hardcode the values then the arrows are generated. However, using arrays to represent relations does not work for some reason...
If you have the time can you see the code
[https://gist.github.com/RajeevSebastian/f1b4c7bd4ef5ecdb42dd1ee0c7efc687](url)

[2020-06-01 16:11] pierpo commented on #103
Hey,
I tried to run your code but I can't get it to run properly. I have an input that adds nothing.

Could you run it on https://codesandbox.io/ ?

How deep have you been in debugging? Try to use the react inspector https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi?hl=en to look at your components and their props. You should compare your `ArcherEleme

[2020-06-15 17:09] pierpo commented on #100
This should be solved by @jfo84's PR!
Thank you for your amazing job with this @jfo84.

[2020-06-15 17:09] #100 closed

[2020-06-19 18:09] jfo84 commented on #100
@pierpo Thanks Pierre. Looking forward to working together in the future :)

[2020-06-22 07:23] pierpo commented on #100
I'd love to 😊  Thanks for your super helpful contribution! I hope we'll get more 😉

[2020-07-21 13:31] uniqalien opened #105 "pointer events are missing"
Hi!

There is an issue with pointer events for content of ArcherElement component.
Mouse actions or interactions with component content are not working at all.
Adding z-index of -1  to svg overlay solves the issue. But anyway its not more than workaround.
Relevant for latest version. This issue appears after upgrade to latest. Doesnt have it on 1.5.0 version.

Thanks.

[2020-08-10 15:47] pierpo commented on #105
Hi!

Thank you for reporting the issue. I'll have a look when I'll have some time.

Thanks!

[2020-08-21 02:30] viztor commented on #105
@pierpo @uniqalien
I also ran into the same issue.
Add `pointer-events: 'none'` to SVG container would smoothly solve this issue, I will submit a PR later.

[2020-08-27 05:26] AdityaAnand1 opened #108 "Is it possible to make the arrows clickable/highlightable?"
I want to dynamically draw arrows between components, highlight them on hover and put them in "focused" state on clicking and add various other interactions. Is this supported by react-archer?

[2020-09-01 20:05] dimapx opened #109 "Connect two horizontal elements with an arrow that goes "the long way" instead of the minimal one"
Hey @pierpo,

Is it possible to create a relation between elements 3 and 1 that would create an arrow such as the red one shown below? (can have straight angles as well)-

![image](https://user-images.githubusercontent.com/30468727/91900241-0ec97a00-eca7-11ea-8c95-1f2ce49aefe8.png)

Any configuration I try results in an arrow that connects elements 3 and 1 via an arrow that is on the minimal path

[2020-09-01 21:52] pierpo commented on #108
Hi!

Sorry about the delay.

Unfortunately, it is not possible yet. A PR had been started, but I deprioritized it since there was not much demand for it.

I should take it over and continue the work that had been started! https://github.com/pierpo/react-archer/pull/27

[2020-09-01 21:54] pierpo commented on #109
Hi,

Not possible yet :cry:
I wish it was, but the way the arrows are computed do not allow this for now.

I need to think of a solution to make the drawing more flexible and allow this kind of scenario. This would be a heavy change though, so I can't give any ETA.

My suggestion to solve your issue: fork the lib (or use `patch-package`) and change the arrows so that they fit your needs.

[2020-09-01 21:56] pierpo commented on #23
It feels like this is not really an issue, since solutions were provided. I said I'd improve the fact that there random IDs but actually I can't really find any downsides about this solution for now.

Closing, might reopen if needed!

[2020-09-01 21:56] #23 closed

[2020-09-15 06:07] MosheZemah opened #112 "Can't build react-archer using `npm run build`"
Hi, seems like I can't build (or run npm install successfully) since I get errors on TypeScript code.
Shouldn't webpack config use a ts-loader or something? Didn't see any of that in the webpack.prod.config.js file.
Can someone help me running the build please?

[2020-09-15 09:00] jfo84 commented on #112
This isn't a TypeScript project. It uses Facebook's flow types

[2020-09-15 20:42] pierpo commented on #112
I don't understand, could you provide the output of your build command?

[2020-09-16 02:34] viztor opened #113 "Arrows can't render properly when the start point and end point have the same x or y"
![1F05C8BE-F485-4a3b-B036-1A50118AED6D.png](https://user-images.githubusercontent.com/3511050/93285703-19882100-f808-11ea-9735-63fdaebb2fbe.png)
 there should ideally be a way to specify an offset so the line can render properly

[2020-09-16 02:43] viztor commented on #113
same issue as #109

[2020-09-16 02:43] #113 closed

[2020-09-16 02:44] viztor commented on #77
solution should be the same as #79

[2020-09-16 08:00] pierpo commented on #113
Yes indeed, thank you for referencing the proper issue yourself :blush:

[2020-09-18 15:08] chandrakantap commented on #38
I also facing a similar issue, when using with react-router and the URL has the special character  `'`. This rendering the arrow svg with  marker-end prop as below:
`
<g>
   <path d="M40,46.5 C55,46.5 55,46.5 70,46.5"
             marker-end="url(http://localhost:3000/flowchart-study'#arrow6374280400351586lpicon_daa3da12-e27d-40d0-b029-e4192a346590daa3da12-e27d-40d0-b029-e4192a346590)"

[2020-09-19 14:58] larissa-n opened #114 "Flex direction 'row' not supported?"
Worked off the example to align elements horizontally with `flexDirection: "row"`, which does not turn out as expected:

https://codesandbox.io/s/jolly-silence-0jmjv?file=/src/App.js

<img width="925" alt="Screen Shot 2020-09-19 at 10 56 59 AM" src="https://user-images.githubusercontent.com/37840830/93670131-27a0a080-fa99-11ea-9200-ce55f0e1dc62.png">

[2020-09-21 09:01] pierpo commented on #114
Hi,

Thank you for reporting this, and thank you for the CodePen!

It looks like it is a mis-usage of the ArcherContainer style props (which probably shouldn't be exposed, actually).

I'll have a deeper look when I'll have more time, thank you very much for reporting!

[2020-09-21 09:02] #112 closed

[2020-09-23 22:36] ElMahdiEz opened #115 "Arrow get reversed if the related elements are close vertically"
Hi, first thank you for this useful library.

My problem is that the arrow getting reversed between two vertically close elements as it is shown in this figure :

![Capture1](https://user-images.githubusercontent.com/57039119/94076427-f60b3a80-fdf4-11ea-8a7f-c06bca11b2f1.PNG)

But it's displayed correctly for non close elements as in this figure :

![Capture2](https://user-images.githubusercontent

[2020-09-24 10:43] kamalkavin commented on #115
Facing the same problem
<img width="426" alt="arrow-issue" src="https://user-images.githubusercontent.com/54261321/94135086-95c1da80-fe80-11ea-892e-e03d8cd69dfa.png">

relations={[
{targetAnchor:'left',																												sourceAnchor:'left'}
]}

[2020-09-26 22:24] ElMahdiEz commented on #115
Hi @kamalkavin,
Did you find a solution bro ?

[2020-09-27 13:27] larissa-n opened #116 "Arrow-head missing in portal / popout"
<img width="264" alt="Screen Shot 2020-09-27 at 9 24 27 AM" src="https://user-images.githubusercontent.com/37840830/94366059-c6e71880-00d5-11eb-97fa-1001894839d4.png">

Example: https://codesandbox.io/s/popout-diagram-react-archer-q8y3z

[2020-09-27 13:34] larissa-n commented on #105
Thanks for looking into this, @pierpo. Here's a button inside <ArcherContainer /> that is not clickable: https://codesandbox.io/s/popout-diagram-react-archer-q8y3z

Is the SVG that's created by <ArcherContainer /> in front of its content (maybe blocking it)?

[2020-09-29 15:44] ElMahdiEz commented on #115
@pierpo

[2020-09-29 15:56] kamalkavin commented on #115
not yet bro

[2020-10-01 16:18] pierpo commented on #116
Hi,

Thank you for reporting this along with a reproducing example 😊
I'll have a look when I find some time, no ETA yet.

Thanks!

[2020-10-01 16:22] pierpo commented on #115
Hi!

Thanks for reporting this 😉
Actually, this is the same as this issue: https://github.com/pierpo/react-archer/issues/69

I don't have any simple solution yet 😬
The drawing logic needs some rework!

No ETA yet, I don't really have a recommendation to solve your issue. I'd change the layout to use `bottom` to `top` in your case... I hope it's an option for you!

[2020-10-01 17:51] ElMahdiEz commented on #115
Okay we can use it until we find a solution

[2020-10-02 03:39] dpkpaa opened #117 "Need Help"
Result using react-archer
![Screenshot 2020-10-02 at 7 39 25 AM](https://user-images.githubusercontent.com/32760040/94885633-5736ac00-048e-11eb-892f-aa723d6a5f39.png)

I am expecting the below
![Group 2](https://user-images.githubusercontent.com/32760040/94885531-12127a00-048e-11eb-8d26-4b8b2351d86c.png)

Can any one help me out ?
i am using react archer latest version by default the package is gi

[2020-10-02 08:11] pierpo commented on #115
Perfect. I'll close this issue since it's a duplicate.
Thank you for your patience :blush:

[2020-10-02 08:11] #115 closed

[2020-10-02 08:13] pierpo commented on #117
Hi,

It's quite ugly indeed, but there won't be any simple solution. The drawing logic needs to be improved.
My recommendation would be to use the curvy arrows for now :disappointed:

Could you provide a codepen with the problematic layout? That would help with future developments.

[2020-10-07 15:33] Velcro1 opened #118 "More points other than top, bottom, left, and right?"
Hey Pierpo,

I see in the code you can only point top, bottom, left, and right.
Couldn't you add a top-left, top-right, bottom-left, and bottom-right?

So just add a case for the new positions?
case 'top-left':
return rectToPoint(rect).add(new Point(rect.width - rect.width, 0));
case 'top-right':
return rectToPoint(rect).add(new Point(rect.width, 0));

then do the same for the bottom?

[2020-10-09 10:31] pierpo commented on #118
Hi!

That would be great indeed 😊
You can open a PR if you want, it shouldn't be too hard indeed 😊

If you don't, I'll do it eventually but I can't give an ETA!

Thanks 😉

[2020-10-11 20:20] mstykow commented on #77
Any update on this? This would be very nice to have: i just had to write a whole bunch of logic (useState, useEffect) in order to pass the children's ids back up to the parent component from whence arrows are drawn when a simple switch in direction would have been a one-liner.

[2020-10-12 06:50] jfo84 commented on #77
@mstykow This is not a particularly simple piece of work. You can always fork the library and put up a PR

[2020-11-12 02:47] marcocheungkami opened #119 "Can support middle-to-middle anchor arrow layout when using other anchor point?"
Currently, I find only using a middle-to-middle anchor position can form the shortest length of the arrow line.
e.g. middle-to-middle
![image](https://user-images.githubusercontent.com/65882474/98888874-c4008580-24d3-11eb-9730-7c434abdd9d7.png)
However, I do not want the arrow to get into my node. If I am using another anchor point even when noCurves prop., I am getting some straight lines with an

[2020-11-12 19:01] pierpo commented on #119
Hi, thanks for reporting 😊

If I got it correctly, you'd expect the first behaviour with arrows stopping on the corners of your element ?

I wish this was the case right (because "middle" is quite ugly) but as noted in the doc this is the behaviour we achieved the most simply, and making it look like you want will be quite hard 😞

In the README:
![image](https://user-images.githubusercontent.com/6

[2020-11-16 08:56] marcocheungkami commented on #119
@pierpo thanks for your comment! I can make it myself. However, I am a junior level programmer that I might not be capable of writing perfect code. Would you mind to double-check for me?

[2020-11-16 15:49] pierpo commented on #119
Of course :wink:

[2020-11-19 12:55] pierpo commented on #105
Hi @larissa-n ! Sorry I did not see your answer.

Actually @viztor was right. You need to add `svgContainerStyle={{ pointerEvents: 'none' }}` to your `ArcherContainer`.

@viztor did a PR that was released in 3.0 to have this behaviour by default :blush:

[2020-11-19 12:55] #105 closed

[2020-11-19 12:57] pierpo commented on #66
Possible now since the "middle" anchor exists.

[2020-11-19 12:57] #66 closed

[2020-11-20 16:41] katrinamsnyder opened #125 "refreshScreen not working"
Using version 3.0.0, calling the refreshScreen from my ref on ArcherContainer is not having any effect.

package-lock:
    "react-archer": {
      "version": "3.0.0",
      "resolved": "https://awn-gpojnkmp1.na.ad.whirlpool.com:501/react-archer/-/react-archer-3.0.0.tgz",
      "integrity": "sha512-+Uc6VyljE+nTWVproEELn1Tlv7MowXMNK7BAc4loji2+U3nTcw3neaAm8xnsNyYxByDjmsjxBR/6Z7/lfBHVig==",
      "req

[2020-11-22 18:42] pierpo commented on #125
Hi,

It feels like the problem does not come from `refreshScreen`. It looks like the shape is correct, but the svg viewport is somehow clipped.

If `refreshScreen` wasn't working, the shape of the path wouldn't look like it's going to the proper place.

- Can you double check your CSS?
- Would you be able to provide a reproducing example?

[2020-11-23 13:30] harshmaur opened #126 "Control how to show the arrow when the target is not in the DOM"
When we render the ArcherElements dynamically, there could be times, when the target element is not yet visible in the DOM.
In such cases the arrow doesnt display properly.
<img width="1240" alt="Screenshot 2020-11-23 at 6 59 30 PM" src="https://user-images.githubusercontent.com/12210058/99967528-06706f00-2dbe-11eb-84d9-60d2be017043.png">

Is it possible to control the behaviour of the arrows (lik

[2020-11-24 00:07] pierpo commented on #126
Hi!

It would make sense to at least hide the arrows indeed. This can be considered a bug!

Controlling the position is possible but harder to implement :blush: And that would be a new feature, I think.

No ETA on both, but the priority should be on the bug!

[2020-11-24 02:45] harshmaur commented on #126
I will create a PR that hides the arrow.

[2020-11-24 16:22] katrinamsnyder commented on #125
Hi,

I was hoping the refreshScreen would force re-render the arrows, using what is currently scrolled into screen, but it's sounding like I misunderstood. The content is all inside a Material UI Card component. The arrows draw correctly initially, but when the overflow X is triggered, once I scroll over as you can see the other components render fine, but not the arrow.

I'll try to play more wit

[2020-11-24 16:22] #125 closed

[2020-11-25 07:00] marcocheungkami commented on #119
Hello @pierpo, any update for my new commit? thanks :)

[2020-12-02 09:17] marcocheungkami opened #129 "Arrow label position is broken in Safari"
The arrow label does not display properly in Safari.
Guess need to change the CSS prop of position from 'absolute' to 'fixed' for adjusting the issue.

![image](https://user-images.githubusercontent.com/65882474/100852741-dd3c9680-34c1-11eb-88c8-b912923413d5.png)

![image](https://user-images.githubusercontent.com/65882474/100852630-bbdbaa80-34c1-11eb-9c5a-54e1e1c79dfd.png)

[2020-12-05 13:17] pierpo commented on #129
Hi!

Thanks for the feedback. Indeed, `position: fixed` seems to fix it!
It feels wrong though, it's really supposed to be a `position: absolute`. I'm afraid of unanticipated side effects 😕

I'll have a look. Feel free to suggest other solutions if you can think of any 😊

Thank you!

[2020-12-09 15:17] meoyawn commented on #45
@sanuradhag hey man, https://github.com/dagrejs/dagre has overlap avoidance, but you need to implement your own rendering

[2021-01-07 16:05] larissa-n commented on #116
Issue persists with v3.0.0.

[2021-01-10 15:14] larissa-n opened #131 "Anchor directionality flips to go "short way""
May be related to  #109.

Anchor flips to the opposite side if target is closer to that side. E.g. for `targetAnchor: 'left', sourceAnchor: 'right'`:

<img width="600" alt="Screen Shot 2021-01-10 at 1 24 01 PM" src="https://user-images.githubusercontent.com/37840830/104126644-0ae8eb00-535e-11eb-8015-fee1549341fa.png">

And this is how it shows in react portal (without arrowheads):
<img width="585"

[2021-01-11 10:45] pierpo commented on #131
Hi, thanks for the issue!

Indeed this is related to #109. The library is quite limited right now when it comes to drawing shapes :disappointed:
If you want something that looks good with what the library can provide, you may use `targetAnchor: 'top', sourceAnchor: 'bottom'`. I hope that's okay with you.

As for the second screenshot, it is related to the other issue that you posted with the porta

[2021-01-11 10:46] pierpo commented on #116
Indeed, no changes have been made regarding this. I haven't found the time to solve it. PR welcome if you want to have a look :blush:

[2021-01-11 16:45] MatthiasCartelDkt commented on #57
Hi, some modifications or workarounds about this bug ???

[2021-02-19 01:45] CamboimGabriel opened #132 "How can I avoid arrow conflitt"
![image](https://user-images.githubusercontent.com/36650520/108445014-71550900-723a-11eb-9ccc-cdfee3b3ed44.png)
![image](https://user-images.githubusercontent.com/36650520/108445062-8336ac00-723a-11eb-874d-9b5e2b31fe6b.png)

Here is the two types of arrows. In one case (curved), none arrows are in conflict, but when I turn the "no curves" mode on, one conflict is generated, what can I do to preven

[2021-02-19 10:47] pierpo commented on #132
Hi @CamboimGabriel ! Great usage of the lib, love it :wink:

When you say "conflicts", you mean the arrows crossing paths? And in your case in a very misleading way? (because there is a confusion between two arrows)

Unfortunately there's no clean solution to that right now (besides moving your elements a little bit). Could you suggest something that would solve your issue? What would you expect i

[2021-02-20 03:24] CamboimGabriel commented on #132
Thanks, @pierpo ! I'm using it to render a BPMN workflow (but I'm starting, all layout will be prettier). About solutions, Can you put margin into your arrows?

[2021-02-20 17:53] pierpo commented on #132
Well there is an `offset` setting but I think it's only available on the `ArcherContainer` element. I don't think it was implemented for individual elements, but that shouldn't be too difficult. Would it solve your issue?
If it solves your issue and you're interested you could try to implement it in the lib, it's a nice and easy addition 😉

[2021-04-16 18:55] RdNetwork opened #136 "Support React 17"
Hello!

I wanted to use this package but it seems that it doesn't support React 17 despite its October 2020 release. I think it should not bring breaking changes since apparently this was a rather thin release.

Do you plan on updating the package soon to reflect that?

Thanks in advance!

Remy

[2021-04-20 21:56] seastan opened #138 "Arrows unattaching after drag and drop - but only half the time"
I've run into a strange bug with this library when used in conjunction with `react-beautiful-dnd`. When I move a `Draggable` to a new `Droppable`, the arrows connected to that `Draggable` come unattached and point to `0,0`. But after I move the `Draggable` again (to another `Droppable`), the arrows return. So on and so forth. This behavior was not present when I was experimenting with other arrow

[2021-04-20 22:39] pierpo commented on #138
Hi!

Thank you for the feedback! And thank you for the Code Sandbox, this is going to be very helpful.

This needs investigation indeed! I can tell you that we're going through a piece of code that states `return Point(0, 0)` in case a ref is not found. I guess this could happen because the children elements are mounted/unmounted, but are not detected properly by the DOM watcher in place (`resize-

[2021-04-20 22:46] pierpo commented on #136
Hello!

Yes definitely, that would be safe.
Is it blocking for you or is it just raising a warning? Since it's a peerDependency it should simply be a warning, right?

I'll handle it for the next release (should happen soon)!

[2021-04-20 23:51] seastan commented on #138
@pierpo Thanks for the response!

I should mention that I'm a beginner at react. I've tried looking to it it as much as I can, but hit a wall with this. I am not familiar of the intricacies of the mounting and unmounting of child elements.

I'm also not sure exactly how to call a ref method of ArcherContainer. If it's just a couple lines, would you be able to add them to the CodeSandbox and see if

[2021-04-21 07:53] RdNetwork commented on #136
Here's what I get when trying to install archer through npm:

![image](https://user-images.githubusercontent.com/4118704/115517197-2d58a180-a287-11eb-8e37-4626dff8eb43.png)

Not sure how that fits in your question, but I tend to avoid force-installs, for safety and based on my still faint knowledge of Node/NPM.

[2021-04-21 15:43] #132 closed

[2021-04-21 17:25] pierpo commented on #138
I tried to add the `refreshScreen()` workaround on your code sandbox and it doesn't work, unfortunately.

It needs further investigation, then. I can't give you an ETA for now since I am quite busy these times 😢

[2021-04-21 17:39] seastan commented on #138
No worries, thanks for giving it a try!

[2021-04-22 06:55] oskari commented on #136
Probably fixed by changing the react-archer peerdependencies to `"react": "^16.9.0 || ^17"` in https://github.com/pierpo/react-archer/blob/master/package.json#L36  and updating packages. It should be fairly simple, you could leave a PR about it

[2021-04-22 07:31] pierpo commented on #136
Yes indeed, I'll publish this in the coming days :blush: (along with your changes @oskari !)

[2021-04-22 23:50] pierpo commented on #136
Should be good with `v3.1.0` :blush:

[2021-04-22 23:50] #136 closed

[2021-05-10 08:09] tanohzana opened #144 "Autoscroll to an element"
It would be nice to add some automatic scroll to an element, depending on some dynamic props

[2021-05-13 08:48] pierpo commented on #77
Should be solved by https://github.com/pierpo/react-archer/pull/139 😉

[2021-05-13 08:48] #77 closed

[2021-05-13 08:49] pierpo commented on #39
Solved by https://github.com/pierpo/react-archer/pull/111

[2021-05-13 08:49] #39 closed

[2021-05-13 08:50] #95 closed

[2021-05-19 08:38] albingroen opened #145 "Property `noCurves` does not exist on type"
# Issue

The `noCurves` property does not (accordingly to Typescript) exist on the `ArcherContainer` component, but it seems to have the effect it's supposed to have. So the solution should just be to update the interface.

[code]

![CleanShot 2021-05-19 at 10 36 23](https://user-images.githubusercontent.com/19674362/118782149-14dfa500-b88e-11eb-8320-c5995c3f0f7b.png)

[2021-05-19 22:56] pierpo commented on #145
Hey! Thanks for the issue. It was missing indeed. I just published a new version with the fix :wink:
Thanks!

[2021-05-19 22:56] #145 closed

[2021-05-20 11:47] albingroen opened #146 "Arrow direction issue"
## Issue

When you have two items where the source anchor is on the same x point as the target anchor, the arrow get pointed in the wrong direction.

![CleanShot 2021-05-20 at 13 44 31](https://user-images.githubusercontent.com/19674362/118973232-bc81d380-b971-11eb-938c-e5677a19f916.png)

[code]

[2021-05-25 12:01] pierpo commented on #146
Hello!

Thank you for the issue! The lib needs many drawing enhancements.

How would you expect the arrows to be drawn? In that case, I'm not sure what we'd expect.

[2021-05-25 12:17] albingroen commented on #146
In this case, I would expect to act smoething like this:

![CleanShot 2021-05-25 at 14 17 03](https://user-images.githubusercontent.com/19674362/119496571-e701d100-bd63-11eb-95e6-72be722d4ba8.png)

[2021-05-26 14:38] pierpo commented on #146
Mmmmh in terms of API I wouldn't expect `{ targetAnchor: 'left' }` to give this result.

For such a result, this should be `{ targetAnchor: 'top' }` since the arrow goes on top. Right now, this would give you a centered arrow, but one could imagine having a new offset prop that would allow you to put a continuous value between -1 and 1 that would shift the arrow alongside the border. For example h

[2021-05-26 14:39] pierpo commented on #144
Closing since there is no answer, and from my understanding I don't think this should be part of the lib 😉

[2021-05-26 14:39] #144 closed

[2021-05-26 14:47] albingroen commented on #146
Sure, but to be fair, this one has `{ sourceAnchor: 'right' }` and still shows up on the bottom, nicely, so I don't see why the target couldn't 🤷‍♂️

![118973232-bc81d380-b971-11eb-938c-e5677a19f916](https://user-images.githubusercontent.com/19674362/119680889-e17ab880-be41-11eb-8af8-ae8384cbac0c.png)

[2021-05-26 15:08] pierpo commented on #146
Haha good point, but try putting down the opacity of your green block. I think you'll notice that the arrow goes backward, starting from the right border 😅

[2021-05-27 08:36] albingroen commented on #146
Ah I see 😄

Anyway, I think the package should solve this issue, and that it shouldn't be up to the user to try to find out exactly when the source and the target area on the same x position, and then manually have to set some sort of offset. Maybe you could add a prop to opt-out or into this though.

[2021-08-15 14:29] hata6502 commented on #146
I resolved the arrow direction issue in my application code.

https://user-images.githubusercontent.com/7702653/129481684-4740e873-deef-42df-a5a6-1b843ae46bcd.mp4

Commit: https://github.com/hata6502/troopa-wasm/commit/8d409d1851970bf91b25326e4c4f74a94c092c36

By using `useEffect()`, the arrow direction is updated every 200 ms.

[code]

Then, detect arrow direction by getting `DOMRect`s.

[code]

[2021-08-25 06:17] AdnanTheExcellent opened #154 "Stickied ArcherElements don't redraw arrows when scrolling"
I am implementing React Archer in a 2 column view where there are groups of elements on one side pointing to the other. Each section has many elements pointing to 1 element. Sometimes the elements in one column can be a long list and go off the monitor. I implemented a sticky for the other sides element so when i scroll down the list that element stays on the screen. The ArcherElement is the stick

[2021-08-25 15:40] pierpo commented on #154
Hi, thanks for reporting this.

As a workaround I think you can try to call `refreshScreen()` (that you can find in the `ref` of `ArcherContainer`) whenever you need (so, on scroll).

Tell me if it works or if you need further assistance 😉

[2021-09-06 14:58] pierpo commented on #92
Mmmmh, glad to hear that it works... But that's kind of a hack. I guess something's wrong with the lib 🤔

That might be a deep investigation though, so I'm not planning on doing it soon. My long-term plan would be to re-write everything in a more modern way (using hooks etc.), and re-think the core of the lib. That would maybe fix it.

I'll wait for @dooleyb1 's feedback to know if the issue is so

[2021-10-24 14:46] levi2ki opened #159 "Ability to set negative offset;"
Hi, i want to suggest feature - ability to set negative offset for something like this (FirstExample for example with -7 offset)
![image](https://user-images.githubusercontent.com/25363699/138599201-d81f6e3a-6c98-413b-b236-5b8b777778c0.png)

[2021-10-24 16:20] levi2ki opened #160 "Suggest: Render order of paths"
Hi, i'd like to suggest feature - render order of paths.
For example, when we want to highlight some path in one-to-many relation, order of rendering path is not configurable and we cann't move highlighted path to top:
![image](https://user-images.githubusercontent.com/25363699/138602852-620140bf-bfa6-45ba-9387-a4ab44554756.png)
Introducing order property to relation can help in moving some paths

[2021-12-20 10:27] dimapx commented on #138
@pierpo Has there been any progress with this issue? We're suffering from a similar use case where we unmount and then mount an element and the arrows won't refresh properly (`refreshScreen` doesn't help).

@seastan Were you able to find a work around?

[2021-12-20 13:14] seastan commented on #138
@dimapx No, I ended up going with `react-simple-arrows`, but if this were patched I would definitely switch back, as there were some other features of this library that I liked.

[2021-12-21 09:37] #159 closed

[2021-12-21 09:43] pierpo commented on #160
Hey, sorry I never answered to the issue! (only the PR)

It makes sense that this would be local to each relations array. I don't see how this could be global :blush:

[2021-12-21 09:48] #160 closed

[2021-12-21 11:12] pierpo commented on #138
@dimapx No solution yet :pensive:

I just had another look. I just updated the codesandbox, the provided one was not working: https://codesandbox.io/s/9mpg9

Well, I still wonder what's going on. It looks like when the element changes columns, `react-archer` loses track of it. When it only changes rows, it works properly.

I guess (really a rough guess) this is related to how the element is moved

[2021-12-28 15:33] eilman opened #162 "Problem in Creating Dynamic Archer Elements"
I am using Material Table and I want to create multiple Archer Elements between rows from different tables. If I try to create dynamic Archer Elements, only the last archer with last target id is shown. I can solve this problem with setting target id's manually but it is not what I want because my target id list is dynamic. I want to set a list to target id (dataCmp).
In example, this is the targe

[2022-01-02 12:33] deelobase opened #163 "Deploy your app for free 🚀"
Hey @pierpo, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up at https://deelo

[2022-02-15 20:46] pierpo commented on #117
Yeah I know :cry: It's somewhere in my backlog but I can't give any ETA. Contributions are welcome!

[2022-03-30 14:31] pierpo opened #166 "`endShape` prop does not work properly `ArcherContainer`"
The following code gives this

![image](https://user-images.githubusercontent.com/6313316/160859594-5c087bf1-49bd-44b7-ad7c-382e0cd90fa3.png)

If we remove `endShape=...`, it gives this result instead:

![image](https://user-images.githubusercontent.com/6313316/160859698-25edceed-acf3-447f-913c-c66195e5dd17.png)

[code]

[2022-04-05 22:21] pierpo commented on #162
Hello! Sorry I forgot to answer.

Could you provide more detail or a reproducible example? It is supposed to work with dynamic elements! (see Example 2 on the repo)

[2022-04-05 22:29] pierpo commented on #99
I've migrated the code base to typescript + hooks. I'll keep working on further refactorings :blush: (most notably: split stuff)

[2022-04-05 22:29] #99 closed

[2022-04-27 15:17] handeArpakus opened #170 "Arrows are disappearing when I click a button"
Hi pierpo, thank you for this brilliant library first, it is a lifesaver for me. But I have a problem. I use the archer with 2 material tables. I draw the lines between 2 tables' rows. For the targets and the sources, I added a button to each row and connect them. But when I click one of those buttons or the row of the tables, the archers are disappearing, and then if I click a different one they

[2022-04-27 22:19] pierpo commented on #170
Hey! Thank you for the kind words :blush:
It's quite hard to help without a reproduction case, it looks like you're doing things properly but it's hard to tell without an example :cry:

Could you provide a minimal example on https://codesandbox.io/ with the bug you're describing?

[2022-04-28 08:22] handeArpakus commented on #170
Sure, here is the example code of my problem
[https://codesandbox.io/s/archerelement-and-materialtable-rxt3nl?file=/src/App.js]

[2022-05-01 22:54] pierpo commented on #170
Thank you for the reproducing example! This will be super helpful!
I'll have a look when I'll find the time. I think I remember that others are related so this is important!

[2022-05-10 07:54] handeArpakus commented on #170
Hello again, is there any news? Did you have a chance to look at it?

[2022-05-11 23:44] pierpo commented on #170
Hey! I did look into it, but I still haven't found the cause. My guess is that there are unnecessary rerenders that make the lib go crazy. You could maybe circumvent the issue with proper memoization of props and components.

Still, the lib should behave properly even in this scenario, so I'll keep having a look to make the lib more robust!

[2022-06-26 16:50] pierpo commented on #170
I'm sorry I still haven't looked deeper into it :cry:
I tried with the newest version of the lib (with the rewriting of the core with hooks) but it doesn't solve  the issue. I'll investigate more in the future.

You can also dive into the code yourself now that the lib's code should be clearer!

[2022-06-27 14:20] ThiloAschebrock opened #172 "Minified React error #321 in v4.0.0"
There seems to be an issue with version 4.0.0 that can crash the parent React app:

**Error trace:**

Issue, cf. https://reactjs.org/docs/error-decoder.html?invariant=321

This is probably related to https://github.com/pierpo/react-archer/pull/167. I can't pinpoint the error nor give a short example how to reproduce it.

[2022-06-27 17:01] loganlepage opened #173 "throttle on refreshScreen"
Hello @pierpo, do you think is it possible / worth-it to add a throttler (with a props) to this function ?

https://github.com/pierpo/react-archer/blob/2258a2bbf4eb57b1fe9265f857b8e901e5940472/src/ArcherContainer/ArcherContainer.tsx#L71

---

[code]

regards

[2022-06-29 07:58] #173 closed

[2022-07-03 21:39] pierpo commented on #172
Uh-oh. I had a look at the code, I don't see any suspicious hook call. It's supposed to be an invalid `useState` but I don't see how.
Have you investigated the other reasons? (mismatching version, copies of React etc.)

[2022-07-04 08:07] Thomas101 commented on #172
Here's a sandbox that reproduces the error... https://codesandbox.io/s/gifted-sunset-r5zwrq?file=/src/index.js

react 18.0.0
react-dom 18.0.0
react-archer 4.0.4

[code]

[2022-07-04 08:08] Thomas101 commented on #172
@ThiloAschebrock you beat me to it with seconds to spare 🙈

[2022-07-04 08:09] ThiloAschebrock commented on #172
Oh no, how unlucky :) But your example is even more minimal, which is nice 👍🏻

[2022-07-04 17:37] pierpo commented on #172
Amazing, many thanks to both of you! I need to investigate this asap!

[2022-07-04 19:05] pierpo commented on #172
I think I got it. Looks like the devDependency version of `react` in `react-archer` gets included in the bundle.

https://github.com/pierpo/react-archer/blob/2258a2bbf4eb57b1fe9265f857b8e901e5940472/package.json#L80

So, two instances of React live side by side and it makes the hooks go crazy (as said in the docs).

I found a solution by adding React externals in the Webpack configuration, but som

[2022-07-04 19:25] pierpo commented on #172
Looks like adding `skipLibCheck` to the build tsconfig solves the issue... I have no idea why. The lib uses babel to transpile Typescript, I didn't think `tsconfig.json` would have any impact on the final build.

[code]

[2022-07-04 22:21] pierpo commented on #172
I just released 4.0.1. The issue should be solved :blush:

I'd love to hear from you if it's the case.

Sorry about the delay with this, I was on holiday last week!

[2022-07-04 22:23] pierpo commented on #170
Actually, I checked with 4.0.1 and it looks like it works better!

Can you confirm?

[2022-07-05 07:54] Thomas101 commented on #172
I can confirm that 4.0.1 fixes it in my use case 👍 . Thank you & hope you had a good holiday

[2022-07-05 08:37] ngocducdim commented on #172
Oh god thanks for the update

[2022-07-05 09:29] ThiloAschebrock commented on #172
I can also confirm that it is working 👍🏻

[2022-07-05 09:29] #172 closed

[2022-07-05 09:32] ngocducdim opened #175 "Not working with translate property"
Hi, I have edit the demo, I use translate property but the arrow draw incorrectly
https://codesandbox.io/s/great-swanson-7o0657?file=/src/index.js

[code]

[2022-07-06 00:45] parkkiyoung0116 commented on #175
Hello. I changed some code. Is it your purpose?
Also I'm not familler with this library, but very usefull :)
I think ArcherContainer must have enough size to render there line(for example whole screen size, include ArcherElement).
I hope this help you.

[code]

[2022-07-06 00:49] ngocducdim commented on #175
Oh thanks, I don't know that, very useful

[2022-07-06 00:49] #175 closed

[2022-07-06 00:59] parkkiyoung0116 opened #176 "Is there any other way to add onClick event for each ArcherElement?"
Hello.
first of all. I want to tell you Thanks for this sexy library.
I'm using react-archer v4.0.1 and react v17.0.2.

I just want to onClick event when I clicked each archer line or clicked label. also I tried to add element with onClick event in label. there nothing happend.
Like below code
[code]

So is there any other way to add onClick event for each ArcherElement?

thanks for this beautiful

[2022-07-06 23:25] pierpo commented on #175
Thank you @parkkiyoung0116 for answering the issue :heart:

[2022-07-06 23:29] pierpo commented on #176
Hey @parkkiyoung0116! Many thanks for the kind words :blush:

It should work the way you wrote it :thinking: It's been an issue in the past but it has been solved! https://github.com/pierpo/react-archer/issues/105

Could you provide a codesandbox with a reproductible example? :blush:
It works in the latest example of the issue #105 !

[2022-07-06 23:50] parkkiyoung0116 commented on #176
Hello @pierpo ! thanks for comment
I think I missed something in my code.
I will rewrite code follow your example.
many thanks!

[2022-07-06 23:50] #176 closed

[2022-07-12 22:05] pierpo commented on #138
Good news! Solved by 4.0.1 :blush:

[2022-07-12 22:05] #138 closed

[2022-07-12 22:10] pierpo commented on #154
Hi!

Could you try again with 4.0.1?

If it's not solved yet, could you provide a codesandbox? It's too hard to work on the issue otherwise :blush:

Thanks!

[2022-07-13 15:24] AdnanTheExcellent commented on #154
Hey, thanks for the update! i removed the sticky component in our code a while ago because i never got it working, so i can't exactly test this easily. On a side note, i tried upgrading and noticed that there's no `classNames` attribute the for `ArcherElement`.

[2022-07-13 22:46] pierpo commented on #154
Thank you for your answer! And thank you for trying 😊

About `ArcherElement`, it's normal actually. `ArcherElement` does not render anything in the DOM, it's purely a virtual component on React's side. So we can't attach any className to it!

You need to pass a className to the child of `ArcherElement`.

If it used to be a props to `ArcherElement`... then I guess it was a mistake 😄

[2022-07-13 22:47] pierpo commented on #154
Anyway, I think I'll close this issue. Let's see if someone else faces it! If so, feel free to re-open!

[2022-07-13 22:47] #154 closed

[2022-07-28 08:27] handeArpakus commented on #170
Hello pierpo,
Thank you for the release. They still disappear sometimes but it is very rare. It's much better than the before

[2022-07-30 08:57] pierpo commented on #170
Thanks 😊
The only remaining issue I see with your example is the fact that the arrows are drawn to `(0, 0)` if target element is not present. This PR will fix this: https://github.com/pierpo/react-archer/pull/178

[2022-08-01 22:16] katrinamsnyder commented on #38
Did one of the releases fix this issue? I also have a URL that has special characters in it, and can't find a way to control that part. I'm currently at version 3.0.0

[2022-08-10 20:21] pierpo commented on #38
Hey!

I have looked into it. I think I will remove the hack that was made to fix the arrow markers on Safari. I don't see it anymore on recent versions of Safari, and removing this hack would solve your issue.

(the hack being to have the whole url instead of only the path without the domain)

[2022-08-10 23:46] #170 closed

[2022-08-15 10:11] pierpo commented on #38
Fixed both issues (about time!) with release 4.1.0.

We now:
- encode the arrow ids so it's not necessary anymore to have URI-compatible characters
- do not use the whole URL to show the arrow markers (breaks older safari display but fixes it on all other browsers for apps that have special character in the url)

[2022-08-15 10:12] #38 closed

[2022-08-15 13:46] katrinamsnyder commented on #38
Thanks for this!!!
Any chance you have a 3.x branch that you could PR that fix into and have a
3.3.1 release? Updating to React 18 will be pretty painful for me 😅
Katrina

On Mon, Aug 15, 2022 at 6:12 AM Pierre Poupin ***@***.***>
wrote:

[2022-08-15 17:04] pierpo commented on #38
Have you tried upgrading to 4.1.0? It's supposed to still work with React < 18 :blush:

[2022-08-15 19:46] katrinamsnyder commented on #38
Ah yes you’re right, sorry about that!

Thanks again! Much easier than trying to change my url handling 😅

Katrina

On Mon, Aug 15, 2022 at 1:04 PM Pierre Poupin ***@***.***>
wrote:

[2022-08-15 21:15] pierpo commented on #38
Glad I could help :wink:

[2022-09-02 00:41] klmntv opened #180 "Cant access refs inside <ArcherElement> component"
I am trying to use your library React-Archer and i really like it. It very helps me with my test task.

But i am faced with trouble: when i am trying to get access to div located inside <ArcherElement> with refForward i receive this:

[code]
how can i get access to that div? You can watch my code here:

https://github.com/klmntv/df_designer_frontend_test

[2022-09-07 09:55] pierpo commented on #180
Hi!

Yes indeed, because this line overrides the given ref... https://github.com/pierpo/react-archer/blob/d82b85715288b895e51dd2fe00dccd027b3dc359/src/ArcherElement/ArcherElement.tsx#L78

I need to find a better solution!

Thank you for the issue!

[2022-09-19 14:30] Sylraka commented on #108
Hello,

in my case it would be also nice if I find a library who support clickable arrows. Your lib would be ranked up if you implemented this ;)

[2022-09-30 09:13] pierpo commented on #180
By the way, I did not provide a workaround.

I guess you could add an additional element in between.

[code]

[2022-09-30 17:12] escv commented on #83
Hi, is there any news about the absolute-position issue. With the recent version, it is not possible to set style attributes on the ArcherElement anymore. If my boxes have an absolute position, there are no connections drawn in my case.
Many thanks and greetings

[2022-10-03 16:52] pierpo commented on #83
Hey @escv ! I just read the thread again, and I thought it was solved.
Can you show me an example of your problem?

[2022-10-04 08:48] escv commented on #83
Thank you @pierpo for the quick response. This maybe due to a misconfiguration on my side. I created a simple example with absolute positions here https://codesandbox.io/s/vigorous-bogdan-1f90bh?file=/src/App.js
Unfortunately, the arrows are not visible here. What could be the missing point here?
Many thanks and best greetings,
Andre

[2022-11-06 19:21] pierpo commented on #83
Bumping to 4.2.0 + defining a style that sets a width+height solves your problem. Width+height is not the ideal solution but I'll let you figure out something better: my point is that it's not related to the lib 😊

[2022-11-06 19:21] #83 closed

[2022-11-06 19:22] #74 closed

[2022-11-06 19:22] pierpo commented on #74
No answer for 2 years, I'll re-open if it's needed.

[2022-11-28 05:38] josephfarina opened #184 "In a Next.js app when you go to a page via a <Link /> click the lines don't load, but when you refresh the page the lines work"
Hey! I was working on a project and noticed this bug and was wondering if you have seen it before? More than happy to look into it and open a PR up.

One thing to note is that I get tons of these errors below *both* when the arrows don't show up after accessing the page via a Next.js `<Link />` click and also when the arrows work accessing the page directly.

<img width="834" alt="image" src="http